.shade {
        display:none;
}
#toppathwrap {
              top:0px;
              right:0px;
              padding:5px;
}
#unselect_box_page {
                    border:2px solid #999999;
}
#select_box_page {
                  border:2px solid black;
}
.highlight {
            background:#FFFF40;
}
.red {
      background:#d5dc91;
}
html {
      font-family:"Times New Roman" , Times, serif;
      color:rgb(56,56,56);
      background-attachment:fixed;
      background-image:url("230.gif"/*tpa=http://localhost/vb/css/230.gif*/);
      background:#f0f0f0;
      text-decoration:none;
}
#cool {
       text-align:left;
       background-color:#337799;
       color:#FFFFFF;
       text-decoration:none;
       size:1;
       padding:4px;
}
img {
     border-style:none;
}
.quote {
        -webkit-font-smoothing:antialiased;
        padding:2px;
        margin-top:2px;
        margin-bottom:2px;
        font-size:.9em;
        color:#514721;
        border:2px solid black;
        margin-top:4px;
        padding:4px;
        -moz-border-radius-topleft:4px;
        -webkit-border-top-left-radius:4px;
        -moz-border-radius-topright:4px;
        -webkit-border-top-right-radius:4px;
        -moz-border-radius-bottomleft:4px;
        -webkit-border-bottom-left-radius:4px;
        -moz-border-radius-bottomright:4px;
        -webkit-border-bottom-right-radius:4px;
}
.bbcode_container div.bbcode_code {
                                   text-align:right;
                                   overflow:hide;
                                   direction:ltr;
                                   background:repeat-x;
                                   font-size:.9em;
                                   background-color:#C6DEFF;
}
.bbcode_container pre.bbcode_code {
                                   text-align:right;
                                   overflow:hide;
                                   direction:ltr;
                                   background:repeat-x;
                                   font-size:.9em;
                                   background-color:#C6DEFF;
}
#breadcrumb .floatcontainer {
                             list-style-type:none;
                             list-style-image:none;
}
#breadcrumb .navbithome {
                         list-style-type:none;
                         list-style-image:none;
}
body a {
        font-weight:bold;
        color:#417394;
        text-decoration:none;
}
body a:hover {
              font-weight:bold;
              text-decoration:underline;
              _background-image:none;
}
.pagnav {
         font-weight:bold;
         color:#417394;
         text-decoration:none;
}
.bodywrapping {
               background-color:#FFFFFF;
               margin-left:0px;
               margin-right:0px;
               margin-bottom:0px;
			   padding:10px;
}
.logo {
       background-color:#2E4355;
       height:180px;
       width:95%;
       border-style:none;
       margin:auto;
}
.toplinks {
           float:left;
           background:#C5D6E2;
           color:#000000;
           padding:4px;
           border:1px solid #999999;
           margin-top:0px;
           margin-left:3px;
           text-decoration:none;
           -moz-border-radius-bottomleft:4px;
           -webkit-border-bottom-left-radius:4px;
           -moz-border-radius-bottomright:4px;
           -webkit-border-bottom-right-radius:4px;
}
.toplinks a {
             color:#000000;
}
.navbar {
         background-color:#2E4355;
         color:#FFFFFF;
         padding:4px;
         text-decoration:none;
         text-align:center;
         width:100%-4px;
         -moz-border-radius-topleft:4px;
         -webkit-border-top-left-radius:4px;
         -moz-border-radius-topright:4px;
         -webkit-border-top-right-radius:4px;
         -moz-border-radius-bottomleft:4px;
         -webkit-border-bottom-left-radius:4px;
         -moz-border-radius-bottomright:4px;
         -webkit-border-bottom-right-radius:4px;
}
.navbar a {
           color:#FFFFFF;
           text-decoration:none;
           padding:2px;
}
.navbarbelow {
              color:#514721;
              border:2px solid black;
              margin-top:4px;
              padding:4px;
              -moz-border-radius-topleft:4px;
              -webkit-border-top-left-radius:4px;
              -moz-border-radius-topright:4px;
              -webkit-border-top-right-radius:4px;
              -moz-border-radius-bottomleft:4px;
              -webkit-border-bottom-left-radius:4px;
              -moz-border-radius-bottomright:4px;
              -webkit-border-bottom-right-radius:4px;
}
.notice {
         padding:4px;
         border:1px solid;
         margin-top:4px;
         background:#FFFFCC;
         color:#514721;
         border-color:#FFD324;
         text-align:center;
         -moz-border-radius-topleft:4px;
         -webkit-border-top-left-radius:4px;
         -moz-border-radius-topright:4px;
         -webkit-border-top-right-radius:4px;
         -moz-border-radius-bottomleft:4px;
         -webkit-border-bottom-left-radius:4px;
         -moz-border-radius-bottomright:4px;
         -webkit-border-bottom-right-radius:4px;
}
.notice a {
           color:#514721;
}
.announce {
           background-color:#FFCC66;
}
#000000; .header {
                  text-align:left;
                  font-weight:bold;
                  font-size:1.1em;
                  padding:6px;
}
.titlebg {
          text-align:center;
          background-color:#7192a8;
          color:#FFFFFF;
          text-decoration:none;
          font-weight:bold;
          font-size:1em;
          padding:4px;
          margin-left:auto;
          margin-right:auto;
          margin-top:4px;
          border:1px solid #999999;
          -moz-border-radius-topleft:4px;
          -webkit-border-top-left-radius:4px;
          -moz-border-radius-topright:4px;
          -webkit-border-top-right-radius:4px;
}
.titlebg a {
            color:#FFFFFF;
            text-decoration:none;
}
.windowbg{
	
	
}


.windowbg a {
             color:#417394;
             text-decoration:none;
}
.windowbg a:hover {
                   text-decoration:underline;
                   _background-image:none;
}
.oldwindowbg {
              padding:2px;
}
.oldwindowbg a {
                color:#000000;
}
text-decoration:none; .newwindowbg {
                                    font-weight:bold;
                                    padding:2px;
}
.Oldwindowbg2 {
               background:#C5D6E2;
               color:#000000;
               padding:4px;
               border:1px solid #999999;
               margin-top:10px;
               text-decoration:none;
}
.windowbg2 {
            background:#C5D6E2;
            color:#000000;
            padding:4px;
            border:1px solid #999999;
            margin-top:10px;
            text-decoration:none;
}
.Oldwindowbg2 a {
                 color:#000000;
}
.windowbg2 a {
              color:#000000;
}
.Unreadwindowbg2 {
                  background:#C5D6E2;
                  color:#000000;
                  padding:4px;
                  border:1px solid #999999;
                  margin-top:10px;
                  text-decoration:none;
                  font-weight:bold;
}
.Unreadwindowbg2 a {
                    color:#000000;
}
.thread_dot {
             font-weight:bold;
             text-decoration:none;
             background-color:#C5D6E2;
             color:#000000;
             padding:4px;
             width:100%-4px;
             margin-left:auto;
             margin-right:auto;
             border-left:1px solid #999999;
             border-right:1px solid #999999;
             border-bottom:1px solid #999999;
}
.thread_hot {
             font-weight:bold;
             text-decoration:none;
             background-color:#C5D6E2;
             color:#000000;
             padding:4px;
             width:100%-4px;
             margin-left:auto;
             margin-right:auto;
             border-left:1px solid #999999;
             border-right:1px solid #999999;
             border-bottom:1px solid #999999;
}
.thread_dot_hot {
                 font-weight:bold;
                 text-decoration:none;
                 background-color:#C5D6E2;
                 color:#000000;
                 padding:4px;
                 width:100%-4px;
                 margin-left:auto;
                 margin-right:auto;
                 border-left:1px solid #999999;
                 border-right:1px solid #999999;
                 border-bottom:1px solid #999999;
}
.thread_ {
          font-weight:bold;
          text-decoration:none;
          background-color:#C5D6E2;
          color:#000000;
          padding:4px;
          width:100%-4px;
          margin-left:auto;
          margin-right:auto;
          border-left:1px solid #999999;
          border-right:1px solid #999999;
          border-bottom:1px solid #999999;
}
.thread_lock {
              font-weight:bold;
              text-decoration:none;
              background-color:#C5D6E2;
              color:#000000;
              padding:4px;
              width:100%-4px;
              margin-left:auto;
              margin-right:auto;
              border-left:1px solid #999999;
              border-right:1px solid #999999;
              border-bottom:1px solid #999999;
              text-decoration:line-through;
}
.thread {
         font-weight:bold;
         text-decoration:none;
         background-color:#C5D6E2;
         color:#000000;
         padding:4px;
         width:100%-4px;
         margin-left:auto;
         margin-right:auto;
         border-left:1px solid #999999;
         border-right:1px solid #999999;
         border-bottom:1px solid #999999;
}
.thread_moved {
               font-weight:bold;
               text-decoration:none;
               background-color:#C5D6E2;
               color:#000000;
               padding:4px;
               width:100%-4px;
               margin-left:auto;
               margin-right:auto;
               border-left:1px solid #999999;
               border-right:1px solid #999999;
               border-bottom:1px solid #999999;
}
.thread_new {
             font-weight:bold;
             text-decoration:none;
             background-color:#C5D6E2;
             color:#000000;
             padding:4px;
             width:100%-4px;
             margin-left:auto;
             margin-right:auto;
             border-left:1px solid #999999;
             border-right:1px solid #999999;
             border-bottom:1px solid #999999;
             font-weight:bold;
}
.thread_dot a {
               font-weight:bold;
               color:#000000;
               text-decoration:none;
}
.thread_hot a {
               font-weight:bold;
               color:#000000;
               text-decoration:none;
}
.thread_dot_hot a {
                   font-weight:bold;
                   color:#000000;
                   text-decoration:none;
}
.thread_ a {
            font-weight:bold;
            color:#000000;
            text-decoration:none;
}
.thread_lock a {
                font-weight:bold;
                color:#000000;
                text-decoration:none;
                text-decoration:line-through;
}
.thread a {
           font-weight:bold;
           color:#000000;
           text-decoration:none;
}
.thread_moved a {
                 font-weight:bold;
                 color:#000000;
                 text-decoration:none;
}
.thread_new a {
               font-weight:bold;
               color:#000000;
               text-decoration:none;
}
.thread_dot_hot_new a {
                       font-weight:bold;
                       color:#000000;
                       text-decoration:none;
}
.sticky {
         font-weight:bold;
         text-decoration:none;
         background-color:#eeee99;
         color:#000000;
         padding:4px;
         width:100%-4px;
         margin-left:auto;
         margin-right:auto;
         border-left:1px solid #999999;
         border-right:1px solid #999999;
         border-bottom:1px solid #999999;
}
.sticky_hot {
             font-weight:bold;
             text-decoration:none;
             background-color:#eeee99;
             color:#000000;
             padding:4px;
             width:100%-4px;
             margin-left:auto;
             margin-right:auto;
             border-left:1px solid #999999;
             border-right:1px solid #999999;
             border-bottom:1px solid #999999;
}
.sticky_dot {
             font-weight:bold;
             text-decoration:none;
             background-color:#eeee99;
             color:#000000;
             padding:4px;
             width:100%-4px;
             margin-left:auto;
             margin-right:auto;
             border-left:1px solid #999999;
             border-right:1px solid #999999;
             border-bottom:1px solid #999999;
}
.sticky_dot_hot {
                 font-weight:bold;
                 text-decoration:none;
                 background-color:#eeee99;
                 color:#000000;
                 padding:4px;
                 width:100%-4px;
                 margin-left:auto;
                 margin-right:auto;
                 border-left:1px solid #999999;
                 border-right:1px solid #999999;
                 border-bottom:1px solid #999999;
}
.sticky_hot_new {
                 font-weight:bold;
                 text-decoration:none;
                 background-color:#eeee99;
                 color:#000000;
                 padding:4px;
                 width:100%-4px;
                 margin-left:auto;
                 margin-right:auto;
                 border-left:1px solid #999999;
                 border-right:1px solid #999999;
                 border-bottom:1px solid #999999;
}
.sticky_ {
          font-weight:bold;
          text-decoration:none;
          background-color:#eeee99;
          color:#000000;
          padding:4px;
          width:100%-4px;
          margin-left:auto;
          margin-right:auto;
          border-left:1px solid #999999;
          border-right:1px solid #999999;
          border-bottom:1px solid #999999;
}
.sticky_new {
             font-weight:bold;
             text-decoration:none;
             background-color:#eeee99;
             color:#000000;
             padding:4px;
             width:100%-4px;
             margin-left:auto;
             margin-right:auto;
             border-left:1px solid #999999;
             border-right:1px solid #999999;
             border-bottom:1px solid #999999;
}
.sticky_dot_hot_new {
                     font-weight:bold;
                     text-decoration:none;
                     background-color:#eeee99;
                     color:#000000;
                     padding:4px;
                     width:100%-4px;
                     margin-left:auto;
                     margin-right:auto;
                     border-left:1px solid #999999;
                     border-right:1px solid #999999;
                     border-bottom:1px solid #999999;
}
.sticky a {
           color:#000000;
           text-decoration:none;
}
.sticky_hot a {
               color:#000000;
               text-decoration:none;
}
.sticky_dot a {
               color:#000000;
               text-decoration:none;
}
.sticky_dot_hot a {
                   color:#000000;
                   text-decoration:none;
}
.sticky_hot_new a {
                   color:#000000;
                   text-decoration:none;
}
.sticky_ a {
            color:#000000;
            text-decoration:none;
}
.sticky_new a {
               color:#000000;
               text-decoration:none;
}
.sticky_dot_hot_new a {
                       color:#000000;
                       text-decoration:none;
}
.lock a {
         text-decoration:line-through;
}
.lock {
       text-decoration:line-through;
}
.forumold {
           font-weight:bold;
           padding:4px;
           margin:auto;
           border-left:1px solid #999999;
           border-right:1px solid #999999;
           border-bottom:1px solid #999999;
}
.forumnew {
           font-weight:bold;
           padding:4px;
           margin:auto;
           border-left:1px solid #999999;
           border-right:1px solid #999999;
           border-bottom:1px solid #999999;
           font-weight:bold;
}
.forumlink {
            font-weight:bold;
            padding:4px;
            margin:auto;
            border-left:1px solid #999999;
            border-right:1px solid #999999;
            border-bottom:1px solid #999999;
}
.forumold_lock {
                font-weight:bold;
                padding:4px;
                margin:auto;
                border-left:1px solid #999999;
                border-right:1px solid #999999;
                border-bottom:1px solid #999999;
}
.forumnew_lock {
                font-weight:bold;
                padding:4px;
                margin:auto;
                border-left:1px solid #999999;
                border-right:1px solid #999999;
                border-bottom:1px solid #999999;
}
.forumold a {
             color:#000000;
}
.forumnew a {
             color:#000000;
}
.forumlink a {
              color:#000000;
}
.new {
      font-weight:bold;
}
.date {
       background-color:#E6E7DC;
       padding:2px;
       border-left:1px solid #000000;
       border-right:1px solid #000000;
}
.footlink {
           text-align:center;
           color:#000000;
}
.footlink a {
             text-align:center;
             color:#000000;
}
.footer {
         background:#7192a8;
         color:#FFFFFF;
         border-top:0px;
         padding:4px;
         text-align:center;
         font-size:.9em;
         -moz-border-radius-bottomleft:4px;
         -webkit-border-bottom-left-radius:4px;
         -moz-border-radius-bottomright:4px;
         -webkit-border-bottom-right-radius:4px;
}
.footer a {
           background:#7192a8;
           color:#FFFFFF;
           border-top:0px;
           padding:4px;
           text-align:center;
           font-size:.9em;
           -moz-border-radius-bottomleft:4px;
           -webkit-border-bottom-left-radius:4px;
           -moz-border-radius-bottomright:4px;
           -webkit-border-bottom-right-radius:4px;
}
#btn {
      position:relative;
      padding:2px 2px;
      font-size:1em;
      line-height:1.230;
      border:1px solid #999999;
      text-decoration:none;
      color:#000000;
      background:#e9e9e9 url("images/gradients/generic_button.png"/*tpa=http://localhost/vb/css/images/gradients/generic_button.png*//*tpa=http://localhost/vb/css/images/gradients/generic_button.png*/)  repeat-x top left;
      -moz-border-radius:4px;
      -webkit-border-radius:4px;
}
.timeanddate {
              width:auto;
              text-align:left;
              display:inline;
}
.username {
           font-weight:bold;
           width:auto;
           float:right;
}
.linkid {
         color:#FFFFFF;
         border:solid 1px #2B562B;
         background-color:#337799;
         text-decoration:none;
         size:1;
         padding:4px;
}
.info {
       text-decoration:none;
       font-weight:bold;
       font-size:1em;
       padding:4px;
       margin-left:auto;
       margin-right:auto;
       margin-top:4px;
       border:1px solid #999999;
       -moz-border-radius-topleft:4px;
       -webkit-border-top-left-radius:4px;
       -moz-border-radius-topright:4px;
       -webkit-border-top-right-radius:4px;
       text-align:left;
       color:#FFFFFF;
       background-color:#2989a8;
       size:1;
}
.bold {
       padding:4px;
       font-weight:bold;
}
.point {
        color:#FFFFFF;
        cursor:pointer;
        cursor:hand;
        text-decoration:none;
}
#point {
        font-weight:bold;
        cursor:pointer;
        cursor:hand;
        text-decoration:none;
}
