
/* lateef-regular - arabic */
@font-face {
  font-family: 'Lateef';
  font-style: normal;
  font-weight: 400;
  src: local('Lateef'),
  url('../fonts/lateef-v12-arabic/lateef-v12-arabic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/lateef-v12-arabic/lateef-v12-arabic-regular.svg#Lateef') format('svg'); /* Legacy iOS */
}

body { 
/*overflow:hidden; */
-webkit-overflow-scrolling: touch; 
}



#wrapper {
     
	 font-family:'Lateef', serif;
	 height:100%;
     overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	position: relative;
	font-size: 140%;
	cursor: pointer;
	font-family:'Lateef', serif;
	-webkit-text-size-adjust:80%;
}



div.posttext {
padding:15px;
font-size: 120%;
}