/* amiri-regular - arabic */
@font-face {
  font-family: 'Amiri';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/amiri-v12-arabic/amiri-v12-arabic-regular.eot'); /* IE9 Compat Modes */
  src: local('Amiri Regular'), local('Amiri-Regular'),
       url('../fonts/amiri-v12-arabic/amiri-v12-arabic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/amiri-v12-arabic/amiri-v12-arabic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/amiri-v12-arabic/amiri-v12-arabic-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/amiri-v12-arabic/amiri-v12-arabic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/amiri-v12-arabic/amiri-v12-arabic-regular.svg#Amiri') format('svg'); /* Legacy iOS */
}


/* lateef-regular - arabic */
@font-face {
  font-family: 'Lateef';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lateef-v12-arabic/lateef-v12-arabic-regular.eot'); /* IE9 Compat Modes */
  src: local('Lateef'),
       url('../fonts/lateef-v12-arabic/lateef-v12-arabic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lateef-v12-arabic/lateef-v12-arabic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lateef-v12-arabic/lateef-v12-arabic-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lateef-v12-arabic/lateef-v12-arabic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lateef-v12-arabic/lateef-v12-arabic-regular.svg#Lateef') format('svg'); /* Legacy iOS */
}


@font-face {
    font-family: 'DroidArabicNaskhBold';
        src: url('../fonts/droid-arabic-naskh/DroidArabicNaskhBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
      }

@font-face {
    font-family: 'DroidArabicNaskhRegular';
        src: url('../fonts/droid-arabic-naskh/DroidArabicNaskhRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }


 /* The following rules are deprecated. */ 

@font-face {
    font-family: 'Droid Arabic Naskh';
        src: url('../fonts/droid-arabic-naskh/DroidArabicNaskhBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
      }



@font-face {
    font-family: 'Droid Arabic Naskh';
        src: url('../fonts/droid-arabic-naskh/DroidArabicNaskhRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }
	  
	  
/* scheherazade-regular - arabic */
@font-face {
  font-family: 'Scheherazade';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/scheherazade-v16-arabic/scheherazade-v16-arabic-regular.eot'); /* IE9 Compat Modes */
  src: local('Scheherazade'), local('Scheherazade-Regular'),
       url('../fonts/scheherazade-v16-arabic/scheherazade-v16-arabic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/scheherazade-v16-arabic/scheherazade-v16-arabic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/scheherazade-v16-arabic/scheherazade-v16-arabic-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/scheherazade-v16-arabic/scheherazade-v16-arabic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/scheherazade-v16-arabic/scheherazade-v16-arabic-regular.svg#Scheherazade') format('svg'); /* Legacy iOS */
}
	  
html, body {
  direction: rtl;
}


#overlay_print,#text {

 display:none;
}


 
 
 
pdf,
up,
div,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
abbr,
acronym,
del,
font,
img,
ins,
q,
strike,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead,
tr,
th,
td ,
table{
	margin: 0;
	padding: 0;
	font: inherit;
	direction: rtl;
	/*font-size: 100%;*/
	
	/*transform: translate3d(0,0,0);*/
	
} 
 
 
#theDiv {
    position: fixed;
    top: 40%;
    left: 45%;
    width: 250px;
    margin-left: -100px;
    height: auto;
    margin-top: -25px;
    background: yellow;
	
	text-align:center;
	padding:10px;
	zoom:150%;
} 
 
 
 
 
a:link {
    color: #417394;
    font-weight: bold;
    text-decoration: none;
} 

u {
    text-decoration: none;
    border-bottom: 1px solid;
    line-height: 180%;
} 

.bbcode_container{border-left: 1px solid silver;border-right: 2px solid silver;border-bottom: 2px solid silver;border-top: 1px solid silver;}
.new_qts,.qts_link{text-align: center;background-color: white;padding: 5px;border: solid 1px #000000;}


 
 
#overlay_print,#text,.header_topic{

 display:none!important;
}
 
 
#navbar
,#pagenumbers
,.tooltip4
,.thread_title
,.posttop
,#copy_tooltip
,hr
,.selecth1FontFamily
,.footer
,.modal
,.bbcode_img2
,.header
,.footer{
 display:none!important;
}

body,html{
	background-color:white;
	overflow:auto!important;
}

.page-break{page-break-after: always!important;}

}
