/* lateef-regular - arabic */
@font-face {
  font-family: 'Lateef';
  font-style: normal;
  font-weight: 400;
  src: local('Lateef'),
       url('../fonts/lateef-v12-arabic/lateef-v12-arabic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lateef-v12-arabic/lateef-v12-arabic-regular.woff') format('woff'); /* Modern Browsers */
}
 
#wrapper{
font-family:'Lateef', serif;
} 

div.posttext {
	
padding:15px;

}