
body { 
/*overflow:hidden; */
-webkit-overflow-scrolling: touch; 
}

#wrapper {
     height:100%;
     overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	position: relative;
	/*font-size: 170%;*/
	cursor: pointer;
	/*-webkit-text-size-adjust:70%;*/
	/*font-family:'Lateef', serif;*/
}

div.posttext {
padding:15px;

}