/* lateef-regular - arabic */
@font-face {
  font-family: 'Lateef';
  font-style: normal;
  font-weight: 400;
  src: local('Lateef'),
       url('../fonts/lateef-v12-arabic/lateef-v12-arabic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lateef-v12-arabic/lateef-v12-arabic-regular.woff') format('woff'); /* Modern Browsers */
}
 


#wrapper {
     height:100%;
     overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	position: relative;
	font-size: 170%;
	cursor: pointer;
	-webkit-text-size-adjust:70%;
	font-family:'Lateef', serif;
}

div.posttext {
font-size: 120%;	
padding:15px;

}