<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>VScroll Custom scrollParent Example</title>

    <style>
      
        .item {
            height: 50px;
            line-height: 50px;
            border: 1px solid #eee;
        }
        
        #myscrollparent {
            overflow: auto;
            height: 400px;
            width: 400px;
        }
        
    </style>

</head>

<body>

    <!-- Container -->
    <div id="myscrollparent">
        <div id="mycontainer"></div>
    </div>

    <!-- VScroll file -->
    <script src="../dist/vscroll.min.js"></script>

    <!-- Initializer -->
    <script>
        
        // For sake of example:
        function createArrayOfNumbers(n) {
            
            var array = new Array(n);
            
            var i = 0;
            for (; i < n; i++) array[i] = i + 1;
            
            return array;
            
        };
        
        // An array of records, could contain anything, not just numbers.
        var myData = createArrayOfNumbers(1000) // [1, 2, 3, ... 1000];

        // Template function must return HTML element
        var createTemplateFunction = function(item, index, startIndex, endIndex) {

            // Create your HTML template of each record, it could be anything, an img, li, div etc.
            var div = document.createElement('div');
            div.className = 'item';
            div.textContent = item;

            return div;

        };

        // Your options Object
        var options = {
            container: "#mycontainer",
            scrollParent: '#myscrollparent',
            data: myData,
            smartBuffer: false,
            itemHeight: 50, // which's the default
            createItem: createTemplateFunction
        };

        // Initialize VScroll
        window.myScroll = new VScroll(options);
    </script>

</body>

</html>