<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>VScroll Table Example</title>

    <style>
        .item {
            height: 50px;
        }
    </style>

</head>

<body>

    <!-- Container -->
    <div id="mycontainer">
        <div id="mywrapper">
            <table>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <!-- VScroll file -->
    <script src="../dist/vscroll.min.js"></script>

    <!-- Initializer -->
    <script>
        // For sake of example:
        function createArrayOfNumbers(N) {
            return Array.apply(null, {
                length: N
            }).map(Number.call, Number)
        };

        // An array of records, could contain anything, not just numbers.
        var myData = createArrayOfNumbers(1000) // [0, 1, 2, ... 1000];

        // Template function must return HTML element
        var createTemplateFunction = function(item, index, startIndex, endIndex) {

            // Create your HTML template of each record, it could be anything, an img, li, div etc.
            var tr = document.createElement('tr');
            tr.className = 'item';
            
            var td = document.createElement('td');
            td.textContent = item;

            tr.appendChild(td);
            
            return tr;

        };

        // Your options Object
        var options = {
            container: "#mycontainer",
            wrapper: '#mywrapper',
            itemWrapper: '#mywrapper tbody',
            data: myData,
            itemHeight: 50, // which's the default
            createItem: createTemplateFunction
        };

        // Initialize VScroll
        var myScroll = new VScroll(options);
    </script>

</body>

</html>