pdf,
up,
div,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
abbr,
acronym,
del,
font,
img,
ins,
q,
strike,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	direction: rtl;
	
}



th.tabletr, td.tabletd {
    padding: 4px;
    text-align: left;
	border: solid 1px #000000;
}

td.tabletdright {
    padding: 4px;
    text-align: right;
	border: solid 1px #000000;
}

.hide_param{
overflow-wrap: break-word; -ms-word-break: break-all; word-break: break-word; word-break: break-all;
word-wrap:break-word;

}

/*html{
    height: 100%;
   overflow: hidden;
   -webkit-overflow-scrolling: touch;
}

body {
  overflow: hidden;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}*/

/*#wrapper{
    /*height: 100%;
    overflow-x: hidden;
}*/


.hide_external_link{
display: none;

}

.external_link:link,
.external_link:visited {
	
	outline: none;
	border-radius: 6px;
	color: #ffffff;
	background-color: #2b7b91;
	padding: 5px 5px;
	 -ms-word-break: break-all;
     word-break: break-all;

     /* Non standard for WebKit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;

}


.local_link:link,
.local_link:visited {
	
	outline: none;
	border-radius: 6px;
	color: #ffffff;
	background-color: #2b7b91;
	padding: 5px 5px;
	 -ms-word-break: break-all;
     word-break: break-all;

     /* Non standard for WebKit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
}






.highlight{ background: #D3E18A;}
.light{ background-color: yellow;}
			
.selection {
    background-color: rgba(255, 255, 0, 0.3);
}


.loading {
	background-image: url("clientscript/images/loading.gif")/*tpa=http://localhost/vbulletin_4-2-3/archive/clientscript/images/loading.gif*/	 ! important ;
	background-repeat: no-repeat	 ! important ;
    display: none;
	width: 100px;
	height: 100px;
	left: 55%;
	top: 40%;
	margin-left: -50px;
	margin-top: -50px;
	position:fixed;
    _position:absolute;
    _left: expression(eval(250+(document.body.scrollLeft)));
    _top:expression(eval(150+(document.body.scrollTop)));
	z-index :159;
  }
  
.container {
	/*padding: 5px;*/
}
.container span {
	
}
.container span.current {
	display: inline-block;
	zoom: 1;
	*display: inline;
	background-color: #E1E4F2;
	padding: 3px 5px 3px 5px;
	text-decoration: none;
}
.container span a {
	display: inline-block;
	zoom: 1;
	*display: inline;
	color: #ffffff;
	background-color: #7192a8;
	padding: 3px 15px 3px 15px;
	border: solid 1px  #ffffff;
	text-decoration: none;
}
.pagenumbers span a {
	background-color: #E1E4F2;
	display: inline-block;
	zoom: 1;
	*display: inline;
	color: #000000;
	padding: 0px 13px 0px 13px;
	border: solid 1px #000000;
	text-decoration: none;
}
.linkstyle:link,
.linkstyle:visited {
	direction: rtl;
	outline: none;
	border-radius: 6px;
	color: #ffffff;
	background-color: #2b7b91;
	padding: 5px 5px;
}
.bbcode_container {
	color: #000000;
	text-align: center;
	background-color: #d0e2e2;
	padding: 5px;
	border: solid 1px #000000;
}
.thread_title {
	background: #cccccc;
	border: 1px solid #c0c0c0;
	padding: 4px;
	white-space: wrap;
	font-weight: bold;
	
}
.up {
	font: 12px verdana arial sans-serif;
	background-color: #20B2AA;
   display: inline-block;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 3px;
  padding-left: 3px;
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;
  color: #fff;
  vertical-align: middle;
  outline: none;
  cursor: pointer;
  text-align: center;
 
}
.font-button {
	background-color: #0090CB;
	width: 30px;
	display: inline-block;
	color: #ffffff;
	text-align: center;
	display: inline-block;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 0px;
  padding-left: 0px;
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;
  color: #fff;
  vertical-align: middle;
  outline: none;
  cursor: pointer;
	-moz-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}
.tooltip4 {
	position: relative;
	display: inline-block;
	width: auto;
	z-index: 3;
}
.tooltip4 .tooltiptext4 {
	direction: rtl;
	word-break: break-all;
	display: none;
	width: 260px;
	background-color: #000000;
	color: #ffffff;
	border-radius: 6px;
	padding: 5px 0;
	top: 45px;
	right: -2px;
	text-align: left;
	padding: 5px;
	position: absolute;
	font-weight: bold;
	font: 15px verdana arial sans-serif;

}
.tooltip3 {
	position: relative;
	display: inline-block;
	width: auto;
	z-index: 1;
}
.tooltip3 .tooltiptext3 {
	direction: rtl;
	word-break: break-all;
	display: none;
	width: 260px;
	background-color: #000000;
	color: #ffffff;
	border-radius: 6px;
	padding: 5px 0;
	top: 40px;
	right: -2px;
	text-align: left;
	padding: 5px;
	position: absolute;
	font-weight: bold;
	font: 15px verdana arial sans-serif;
}
.tooltip2 {
	position: relative;
	display: inline-block;
	width: auto;
}
.tooltip2 .tooltiptext2 {
	direction: rtl;
	word-break: break-all;
	display: none;
	width: 260px;
	background-color: #000000;
	color: #ffffff;
	border-radius: 6px;
	padding: 5px 0;
	top: 40px;
	left: -2px;
	text-align: left;
	padding: 5px;
	position: absolute;
	font-weight: bold;
	font: 15px verdana arial sans-serif;
}
.tooltiptext {
	display: none;
}
a {
   
		
}
a:link {
	color: #417394;
	font-weight: bold;
	text-decoration: none;
	
}
a:visited {
	color: #417394;
	font-weight: bold;text-decoration: none;
	
}
body {
	background: #EEEEEE;
	margin: 0px 3px 0px 3px;
}

ul {
	list-style-type: none;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
ol,
ul,
li {
	margin: 0;
	padding: 0;
	border: 0;
	
	/*font: inherit;*/
	
}

li {
	list-style-type: none;
	list-style: none;
	font-size: 10pt;
	border: 1px solid #e6e6e6;
	padding: 5px;
	font: 15px times new roman;
}
.N_replyes {
	color: #c0c0c0;
}
p.largefont {
	text-align: left;
	font-size: 10pt;
	font-weight: bold;
    
}
div.pagebody {
	background: #ffffff;
	padding: 2px;
	border: 1px solid #c0c0c0;
}
.pda {
	background: #cccccc;
	border: 1px solid #c0c0c0;
	padding: 4px;
	
}
div.post {
	border: 1px solid #c0c0c0;
	padding: 1px;
	font: 12px verdana arial sans-serif;
	/*font-family: 'Droid Arabic Kufi', serif;*/
}
div.posttop {
	background: #cccccc;
	font: 12px ;
	padding: 5px;
}
div.username {
	width: auto;
	float: left;
}
div.date {
	width: auto;
	text-align: right;
}
div.posttext {
	padding: 4px;
	background: #F9F9F9;
	/*font: times new roman;*/
	/*font-family: "Times New Roman", Times, serif;*/
	/*font-family: 'Roboto Condensed', sans-serif;*/
	/*font-family: 'Amiri', Arial, sans-serif;*/
	font-size :20px;
}
div.highlight {
	padding: 4px;
	background: #FFFFCC;
}
span.small {
	font-size: 10px;
}
#content {
	margin-bottom: 8px;
	border: 1px solid #c0c0c0;
	padding: 1px;
}
#navbar {
	background: #F9F9F9;
	border: 1px solid #c0c0c0;
	padding: 4px;
}
#pagenumbers {
	text-align: center;
	background: #F9F9F9;
	border-left: 1px solid #c0c0c0;
	border-right: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	border-top: 1px solid #c0c0c0;
}
#copyright {
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}
hr {
	border-top: 1px solid #c0c0c0;
}




.padd {
font-family: "Times New Roman", Times, serif;
/*font-family: 'Amiri', Arial, sans-serif;*/
/*font-family: 'Droid Arabic Kufi', serif;*/
font-weight: bold;
}

.padd2{
/*font-family: 'Arial';*/
/*font-family: 'Amiri', Arial, sans-serif;*/
font-family: "Times New Roman", Times, serif;
}


.move{
text-align: center;	
}
/* amiri-regular - arabic_latin */
@font-face {
  font-family: 'Amiri';
  font-style: normal;
  font-weight: 400;
  src: url('amiri-v7-arabic_latin/amiri-v7-arabic_latin-regular.eot')/*tpa=http://localhost/vbulletin_4-2-3/archive/amiri-v7-arabic_latin/amiri-v7-arabic_latin-regular.eot*/; /* IE9 Compat Modes */
  src: local('Amiri'), local('Amiri-Regular'),
       url('amiri-v7-arabic_latin/amiri-v7-arabic_latin-regular.eot-#iefix')/*tpa=http://localhost/vbulletin_4-2-3/archive/amiri-v7-arabic_latin/amiri-v7-arabic_latin-regular.eot?#iefix*/ format('embedded-opentype'), /* IE6-IE8 */
       url('amiri-v7-arabic_latin/amiri-v7-arabic_latin-regular.woff2')/*tpa=http://localhost/vbulletin_4-2-3/archive/amiri-v7-arabic_latin/amiri-v7-arabic_latin-regular.woff2*/ format('woff2'), /* Super Modern Browsers */
       url('amiri-v7-arabic_latin/amiri-v7-arabic_latin-regular.woff')/*tpa=http://localhost/vbulletin_4-2-3/archive/amiri-v7-arabic_latin/amiri-v7-arabic_latin-regular.woff*/ format('woff'), /* Modern Browsers */
       url('amiri-v7-arabic_latin/amiri-v7-arabic_latin-regular.ttf')/*tpa=http://localhost/vbulletin_4-2-3/archive/amiri-v7-arabic_latin/amiri-v7-arabic_latin-regular.ttf*/ format('truetype'), /* Safari, Android, iOS */
       url('amiri-v7-arabic_latin/amiri-v7-arabic_latin-regular.svg#Amiri')/*tpa=http://localhost/vbulletin_4-2-3/archive/amiri-v7-arabic_latin/amiri-v7-arabic_latin-regular.svg#Amiri*/ format('svg'); /* Legacy iOS */
}

