pdf,
up,
div,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
abbr,
acronym,
del,
font,
img,
ins,
q,
strike,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead,
tr,
th,
td ,
font
{
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	direction: rtl;
	text-decoration-skip-ink: edges;
	/*border-bottom:solid;*/
	/*font-family: 'Amiri', serif;*/
	line-height: 160%;
	
	
}
u{
   text-decoration: none;
   padding-bottom:3px;
   border-bottom:solid;	
}

/* amiri-regular - arabic */
@font-face {
  font-family: 'Amiri';
  font-style: normal;
  font-weight: 400;
  src: url('amiri-v7-arabic_latin/amiri-v7-arabic_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Amiri Regular'), local('Amiri-Regular'),
       url('amiri-v7-arabic_latin/amiri-v7-arabic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('amiri-v7-arabic_latin/amiri-v7-arabic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('amiri-v7-arabic_latin/amiri-v7-arabic_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('amiri-v7-arabic_latin/amiri-v7-arabic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('amiri-v7-arabic_latin/amiri-v7-arabic_latin-regular.svg#Amiri') format('svg'); /* Legacy iOS */
}


div.language{
	width:100%;text-align:center;
}

div.language div{
	display:inline-block;
}

div.language div ul{
	list-style-type:none;padding:0;margin:auto;
}
div.language div ul li{
	list-style-type:none;float:left;margin:3px;
}
div.language div ul li span{
	display:block;color:white;font-weight:bold;font-family:Arial;text-decoration:none;
}
div.language div ul li a{
	border:1px solid gainsboro;
}

div.posttext {

/*font-family: Andalus;
font-style: normal;
  font-weight: 400;*/
  font-family: "Times New Roman", Times, serif;
  /*font-size: 50px;*/
 padding:15px;
	 
}


body #copy_tooltip {
   position:fixed !important;
   _position: absolute; /*ie6 and above*/

   border: 1px solid black; 
   background: rgb(219, 219, 0) none repeat scroll 0% 0%; 
   opacity: 1; 
   width: 100px;
   height: auto; 
   text-align: center; 
   padding: 4px; 
   z-index: 9; 
    left: 50%;
   top: 35%;

   margin-left: -50px;
   margin-right: 50px;
   display:none;
}



* html #wrapper {
    /*hack IE6*/
     width:100%;
     position: absolute;
    
}


html, body {height:100%; overflow:hidden; 
-webkit-overflow-scrolling: touch;
width:100%; 

}

#wrapper {
     
	 height:100%;
     overflow-y: auto;
	 overflow-X: hidden;
	-webkit-overflow-scrolling: touch;
	position: relative;
	width:100%;
	

}


.header_topic{
height: 20px;
/*width:100%;*/
text-align: left;
border: 2px dashed #f69c55;
color: #ffffff;
background-color: #025172;
padding: 5px 5px;
position: fixed;
overflow:hidden;
vertical-align: middle;
line-height: 20px;
top: 0px;
z-index:888888;  
}
.header_img{
cursor: pointer;
max-height: 100%;  
max-width: 100%; 
width: auto;
height: auto;
position: absolute;  
top: 0;  
bottom: 0;  
right: 0;  
margin: auto;	
}
.header_label{
cursor: pointer;
display: inline-block;
vertical-align: bottom;
background-color: #666699;
font-size: 11px;
padding: 1;
color:white; 	
}


@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) 
{ @media {
   body { margin-right:2px; } 
}}


/* The Modal (background) */
.modal {
    /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999999; /* Sit on top */
    display :none;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /*background-color: rgb(0,0,0); /* Fallback color */
    background-color: grey; /* Black w/ opacity */
	/*opacity: 0.5;*/
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;

}


/* The Close Button */
/* The Close Button */
.close {
    padding-left: 8px;
    padding-right: 8px;
    position: absolute;
    top: 0px;
    right: 0px;
    color: #f1f1f1;
    font-size: 20px;
    font-weight: bold;
    background-color: black;
	border-style: solid;
    border-color: white;
	cursor:pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}  
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}  



.hide_param{
overflow-wrap: break-word; -ms-word-break: break-all; word-break: break-word; word-break: break-all;
word-wrap:break-word;

}


.hide_external_link{
display: none;
-ms-word-break: break-all;
word-break: break-all;
word-break: break-word;
-webkit-hyphens: auto;
-moz-hyphens: auto;
hyphens: auto;
}

.external_link:link,
.external_link:visited {
	
	outline: none;
	border-radius: 6px;
	color: #ffffff;
	background-color: #2b7b91;
	padding: 5px 5px;
	 -ms-word-break: break-all;
     word-break: break-all;

     /* Non standard for WebKit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;

}


.local_link:link,
.local_link:visited {
	
	outline: none;
	border-radius: 6px;
	color: #ffffff;
	background-color: #2b7b91;
	padding: 5px 5px;
	 -ms-word-break: break-all;
     word-break: break-all;

     /* Non standard for WebKit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
}






.highlight{ background: #D3E18A;}
.light{ background-color: yellow;}
			
.selection {
    background-color: rgba(255, 255, 0, 0.3);
}

body #loading {
    background-image: url("clientscript/images/loading.gif")/*tpa=http://localhost/vb_423/archive/clientscript/images/loading.gif*/! important ; 
    background-repeat: no-repeat !important;
	position:fixed !important;
	_position: absolute;
	width: 100%;
	height:100%;
	top: 30%;
   /* left: 47%;*/
	background-position: center 0in !important;
	z-index :9999;
	
  
}
.loading {
	/*background-image: url("clientscript/images/loading.gif")/*! important ;
	background-repeat: no-repeat	 ! important ;
    display: none;
	left: 55%;
	top: 40%;
	margin-left: -50px;
	margin-top: -50px;
	position:fixed;
    _position:absolute;
    _left: expression(eval(250+(document.body.scrollLeft)));
    _top:expression(eval(150+(document.body.scrollTop)));
	z-index :159;*/
	
	
	/*background-image: url("clientscript/images/loading.gif")! important ;
    min-height: 1.25in !important;
    background-repeat: no-repeat !important;
    background-position: center .30in !important;
    background-size: 1in 1in !important;
	position: absolute;
	top: 25%;
	width: 100%;
	z-index :159;*/
	
	
  }
  
.container {
	/*padding: 5px;*/
}
.container span {
	
}
.container span.current {
	display: inline-block;
	zoom: 1;
	*display: inline;
	background-color: #E1E4F2;
	padding: 3px 5px 3px 5px;
	text-decoration: none;
}
.container span a {
	display: inline-block;
	zoom: 1;
	*display: inline;
	color: #ffffff;
	background-color: #7192a8;
	padding: 3px 15px 3px 15px;
	border: solid 1px  #ffffff;
	text-decoration: none;
}
.pagenumbers span a {
	background-color: #E1E4F2;
	display: inline-block;
	zoom: 1;
	*display: inline;
	color: #000000;
	padding: 0px 13px 0px 13px;
	border: solid 1px #000000;text-decoration: none;
}
.linkstyle:link,
.linkstyle:visited {
	direction: rtl;
	outline: none;
	border-radius: 6px;
	color: #ffffff;
	background-color: #2b7b91;
	padding: 5px 5px;
}
.bbcode_container {
	color: #000000;
	text-align: center;
	background-color: #d0e2e2;
	padding: 5px;
	border: solid 1px #000000;
}

.new_qts {
	color: #000000;
	text-align: center;
	
	background-color: #F5F5DC;
	padding: 5px;
	border: solid 1px #000000;
}

.qts_link {
	color: #000000;
	text-align: center;
	background-color: #efd332;
	padding: 5px;
	border: solid 1px #000000;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}


.thread_title {
	/*background: #F9F9F9;*/
	background: #d5deed;
	border: 1px solid #c0c0c0;
	padding: 4px;
	white-space: wrap;
	font-weight: bold;
	
}
.up {
	font: 12px verdana arial sans-serif;
	background-color: #20B2AA;
   display: inline-block;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 3px;
  padding-left: 3px;
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;
  color: #fff;
  vertical-align: middle;
  outline: none;
  cursor: pointer;
  text-align: center;
 
}
.font-button {
  background-color: #0090CB;
  width: 24px;
  display: inline-block;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 2px;
  padding-left: 2px;
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;
  color: #fff;
  vertical-align: middle;
  outline: none;
  cursor: pointer;
	 -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.tooltip4 {
	position: relative;
	display: inline-block;
	width: auto;
	z-index: 3;
}
.tooltip4 .tooltiptext4 {
	direction: rtl;
	word-break: break-all;
	display: none;
	width: 260px;
	background-color: #000000;
	color: #ffffff;
	border-radius: 6px;
	padding: 5px 0;
	top: 45px;
	right: -2px;
	text-align: left;
	padding: 5px;
	position: absolute;
	font-weight: bold;
	font: 15px verdana arial sans-serif;

}
.tooltip5 {
	position: relative;
	display: inline-block;
	width: auto;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.tooltip5 .tooltiptext5 {
	display: none;
	width: 120px;
	background-color: #000000;
	color: #ffffff;
	border-radius: 6px;
	padding: 5px 0;
	top: 40px;
	right: -2px;
	text-align: center;
	padding: 5px;
	position: absolute;
	font-weight: bold;
	font: 15px verdana arial sans-serif;
	 -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


.tooltip3 {
	position: relative;
	display: inline-block;
	width: auto;
	z-index: 1;
}
.tooltip3 .tooltiptext3 {
	direction: rtl;
	word-break: break-all;
	display: none;
	width: 260px;
	background-color: #000000;
	color: #ffffff;
	border-radius: 6px;
	padding: 5px 0;
	top: 40px;
	right: -2px;
	text-align: left;
	padding: 5px;
	position: absolute;
	font-weight: bold;
	font: 15px verdana arial sans-serif;
}
.tooltip2 {
	position: relative;
	display: inline-block;
	width: auto;
}
.tooltip2 .tooltiptext2 {
	direction: rtl;
	word-break: break-all;
	display: none;
	width: 260px;
	background-color: #000000;
	color: #ffffff;
	border-radius: 6px;
	padding: 5px 0;
	top: 40px;
	left: -2px;
	text-align: left;
	padding: 5px;
	position: absolute;
	font-weight: bold;
	font: 15px verdana arial sans-serif;
}
.tooltiptext {
	display: none;
}
a {
   
		
}
a:link {
	color: #417394;
	font-weight: bold;
	text-decoration: none;
	
}
a:visited {
	color: #417394;
	font-weight: bold;text-decoration: none;
	
}
body {
	background: #EEEEEE;
	margin: 0px 3px 0px 3px;
}
body,
li,
td,
div {
}
ul {
	list-style-type: none;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
ol,
ul,
li {
	margin: 0;
	padding: 0;
	border: 0;
	
	/*font: inherit;*/
	
}
li span.padd {
font-weight: bold;
}
li {
	list-style-type: none;
	list-style: none;
	/*font-size: 10pt;*/
	border: 1px solid #e6e6e6;
	padding: 5px;
	/*font: 15px times new roman;*/
}
.N_replyes {
	color: #c0c0c0;
}
p.largefont {
	text-align: left;
	font-size: 10pt;
	font-weight: bold;
}
div.pagebody {
	background: #ffffff;
	padding: 2px;
	border: 1px solid #c0c0c0;
	
}
.pda {
	background: #F9F9F9;
	border: 1px solid #c0c0c0;
	padding: 4px;
	
}
div.post {
	border: 1px solid #c0c0c0;
	padding: 1px;
	/*font: 12px verdana arial sans-serif;*/
	/*font-family: 'Droid Arabic Kufi', serif;*/
}
div.posttop {
	background: #EEEEEE;
	font: 12px verdana arial sans-serif;
	padding: 4px;
	
}
div.username {
	width: auto;
	float: left;
}
div.date {
	width: auto;
	text-align: right;
}

div.highlight {
	padding: 4px;
	background: #FFFFCC;
}
span.small {
	font-size: 10px;
}
#content {
	margin-bottom: 8px;
	border: 1px solid #c0c0c0;
	padding: 1px;
}
#navbar {
	background: #F9F9F9;
	border: 1px solid #c0c0c0;
	padding: 4px;
}
#pagenumbers {
	text-align: center;
	background: #F9F9F9;
	border-left: 1px solid #c0c0c0;
	border-right: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	border-top: 1px solid #c0c0c0;
}
#copyright {
	text-align: center;
	font: 12px verdana arial sans-serif;
}
hr {
	border-top: 1px solid #c0c0c0;
}
P.Preformatted {
	line-height: normal;
	margin-bottom: 14pt;
	margin-top: 14pt;
	x-text-tab-stops: repeat 1in;
	white-space: nowrap;
	font-family: monospace;
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}
P.Address {
	margin-top: 0;
	margin-bottom: 0;
	font-style: italic;
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}
SPAN.Big {
	font-weight: bolder;
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}
SPAN.Citation {
	font-style: italic;
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}
SPAN.Code {
	font-family: monospace;
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}
SPAN.Definition {
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}
SPAN.Emphasize {
	font-style: italic;
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}
SPAN.Keyboard {
	font-weight: bold;
	font-family: monospace;
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}
SPAN.StrikeThrough {
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;text-decoration: line-through;
}
SPAN.Sample {
	font-family: monospace;
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}
SPAN.Strong {
	font-weight: bold;
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}
SPAN.SubScript {
	vertical-align: sub;
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}
SPAN.Superscript {
	vertical-align: super;
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}
SPAN.TeleType {
	font-family: monospace;
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}
SPAN.Var {
	font-style: italic;
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}
SPAN.Underline {
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;text-decoration: underline;
}
SPAN.Italic {
	font-style: italic;
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}



.org, .tooltip2,.bbcode,.tooltip3{
	
display:none;
	
}
