pdf,
up,
div,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
abbr,
acronym,
del,
font,
img,
ins,
q,
strike,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	direction: rtl;
	
}


.header_topic{

height: 20px;
line-height: 20px;
text-align: center;
border: 2px dashed #f69c55;
color: #ffffff;
background-color: #025172;
padding: 5px 5px;
vertical-align: middle;
position: relative;	
}
.header_img{
cursor: pointer;
max-height: 100%;  
max-width: 100%; 
width: auto;
height: auto;
position: absolute;  
top: 0;  
bottom: 0;  
right: 0;  
margin: auto;	
}
.header_label{
cursor: pointer;
display: inline-block;
vertical-align: middle;
line-height: normal;	
}




html, body {height:100%; overflow:hidden; -webkit-overflow-scrolling: touch; -webkit-transform: translate3d(0,0,0);}

#wrapper {
     height:100%;
     overflow-y: auto;
	 position: relative;
    -webkit-transform: translate3d(0,0,0);
	-webkit-overflow-scrolling: touch;

}


@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) 
{ @media {
   body { margin-right:2px; } 
}}


/* The Modal (background) */
.modal {
    /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999999; /* Sit on top */
    display :none;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /*background-color: rgb(0,0,0); /* Fallback color */
    background-color: grey; /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;

}


/* The Close Button */
/* The Close Button */
.close {
    padding-left: 8px;
    padding-right: 8px;
    position: absolute;
    top: 0px;
    right: 0px;
    color: #f1f1f1;
    font-size: 20px;
    font-weight: bold;
    background-color: black;
	border-style: solid;
    border-color: white;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}  
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}  



.hide_param{
overflow-wrap: break-word; -ms-word-break: break-all; word-break: break-word; word-break: break-all;
word-wrap:break-word;

}


.hide_external_link{
display: none;
 -ms-word-break: break-all;
     word-break: break-all;

     /* Non standard for WebKit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
}

.external_link:link,
.external_link:visited {
	
	outline: none;
	border-radius: 6px;
	color: #ffffff;
	background-color: #2b7b91;
	padding: 5px 5px;
	 -ms-word-break: break-all;
     word-break: break-all;

     /* Non standard for WebKit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;

}


.local_link:link,
.local_link:visited {
	
	outline: none;
	border-radius: 6px;
	color: #ffffff;
	background-color: #2b7b91;
	padding: 5px 5px;
	 -ms-word-break: break-all;
     word-break: break-all;

     /* Non standard for WebKit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
}






.highlight{ background: #D3E18A;}
.light{ background-color: yellow;}
			
.selection {
    background-color: rgba(255, 255, 0, 0.3);
}
.loading {
	display:none;
	background-image: url("clientscript/images/loading.gif")! important ;
    min-height: 1.25in !important;
    background-repeat: no-repeat !important;
    background-position: center .25in !important;
    background-size: 1in 1in !important;
	position: absolute;
	top: 25%;
	width: 100%;
	z-index :159;
  }

.container {
	/*padding: 5px;*/
}
.container span {
	
}
.container span.current {
	display: inline-block;
	zoom: 1;
	*display: inline;
	background-color: #E1E4F2;
	padding: 3px 5px 3px 5px;
	text-decoration: none;
}
.container span a {
	display: inline-block;
	zoom: 1;
	*display: inline;
	color: #ffffff;
	background-color: #7192a8;
	padding: 3px 15px 3px 15px;
	border: solid 1px  #ffffff;
	text-decoration: none;
}
.pagenumbers span a {
	background-color: #E1E4F2;
	display: inline-block;
	zoom: 1;
	*display: inline;
	color: #000000;
	padding: 0px 13px 0px 13px;
	border: solid 1px #000000;text-decoration: none;
}
.linkstyle:link,
.linkstyle:visited {
	direction: rtl;
	outline: none;
	border-radius: 6px;
	color: #ffffff;
	background-color: #2b7b91;
	padding: 5px 5px;
}
.bbcode_container {
	color: #000000;
	text-align: center;
	background-color: #d0e2e2;
	padding: 5px;
	border: solid 1px #000000;
}
.thread_title {
	background: #F9F9F9;
	border: 1px solid #c0c0c0;
	padding: 4px;
	white-space: wrap;
	font-weight: bold;
	
}
.up {
	font: 12px verdana arial sans-serif;
	background-color: #20B2AA;
   display: inline-block;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 3px;
  padding-left: 3px;
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;
  color: #fff;
  vertical-align: middle;
  outline: none;
  cursor: pointer;
  text-align: center;
 
}
.font-button {
	background-color: #0090CB;
	width: 40px;
	display: inline-block;
	color: #ffffff;
	text-align: center;
	display: inline-block;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 3px;
  padding-left: 3px;
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;
  color: #fff;
  vertical-align: middle;
  outline: none;
  cursor: pointer;
	-moz-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}
.tooltip4 {
	position: relative;
	display: inline-block;
	width: auto;
	z-index: 3;
}
.tooltip4 .tooltiptext4 {
	direction: rtl;
	word-break: break-all;
	display: none;
	width: 260px;
	background-color: #000000;
	color: #ffffff;
	border-radius: 6px;
	padding: 5px 0;
	top: 45px;
	right: -2px;
	text-align: left;
	padding: 5px;
	position: absolute;
	font-weight: bold;
	font: 15px verdana arial sans-serif;

}
.tooltip3 {
	position: relative;
	display: inline-block;
	width: auto;
	z-index: 1;
}
.tooltip3 .tooltiptext3 {
	direction: rtl;
	word-break: break-all;
	display: none;
	width: 260px;
	background-color: #000000;
	color: #ffffff;
	border-radius: 6px;
	padding: 5px 0;
	top: 40px;
	right: -2px;
	text-align: left;
	padding: 5px;
	position: absolute;
	font-weight: bold;
	font: 15px verdana arial sans-serif;
}
.tooltip2 {
	position: relative;
	display: inline-block;
	width: auto;
}
.tooltip2 .tooltiptext2 {
	direction: rtl;
	word-break: break-all;
	display: none;
	width: 260px;
	background-color: #000000;
	color: #ffffff;
	border-radius: 6px;
	padding: 5px 0;
	top: 40px;
	left: -2px;
	text-align: left;
	padding: 5px;
	position: absolute;
	font-weight: bold;
	font: 15px verdana arial sans-serif;
}
.tooltiptext {
	display: none;
}
a {
   
		
}
a:link {
	color: #417394;
	font-weight: bold;
	text-decoration: none;
	
}
a:visited {
	color: #417394;
	font-weight: bold;text-decoration: none;
	
}
body {
	background: #EEEEEE;
	margin: 0px 3px 0px 3px;
}
body,
li,
td,
div {
}
ul {
	list-style-type: none;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
ol,
ul,
li {
	margin: 0;
	padding: 0;
	border: 0;
	
	/*font: inherit;*/
	
}
li span.padd {
font-weight: bold;
}
li {
	list-style-type: none;
	list-style: none;
	font-size: 10pt;
	border: 1px solid #e6e6e6;
	padding: 5px;
	font: 15px times new roman;
}
.N_replyes {
	color: #c0c0c0;
}
p.largefont {
	text-align: left;
	font-size: 10pt;
	font-weight: bold;
}
div.pagebody {
	background: #ffffff;
	padding: 2px;
	border: 1px solid #c0c0c0;
}
.pda {
	background: #F9F9F9;
	border: 1px solid #c0c0c0;
	padding: 4px;
	
}
div.post {
	border: 1px solid #c0c0c0;
	padding: 1px;
	font: 12px verdana arial sans-serif;
	/*font-family: 'Droid Arabic Kufi', serif;*/
}
div.posttop {
	background: #EEEEEE;
	font: 12px ;
	padding: 4px;
	
}
div.username {
	width: auto;
	float: left;
}
div.date {
	width: auto;
	text-align: right;
}
div.posttext {
	padding: 4px;
	background: #F9F9F9;
	/*font: times new roman;*/
	font-family: "Times New Roman", Times, serif;
	font-size :20px;
}
div.highlight {
	padding: 4px;
	background: #FFFFCC;
}
span.small {
	font-size: 10px;
}
#content {
	margin-bottom: 8px;
	border: 1px solid #c0c0c0;
	padding: 1px;
}
#navbar {
	background: #F9F9F9;
	border: 1px solid #c0c0c0;
	padding: 4px;
}
#pagenumbers {
	text-align: center;
	background: #F9F9F9;
	border-left: 1px solid #c0c0c0;
	border-right: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	border-top: 1px solid #c0c0c0;
}
#copyright {
	text-align: center;
	font: 12px verdana arial sans-serif;
}
hr {
	border-top: 1px solid #c0c0c0;
}
P.Preformatted {
	line-height: normal;
	margin-bottom: 14pt;
	margin-top: 14pt;
	x-text-tab-stops: repeat 1in;
	white-space: nowrap;
	font-family: monospace;
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}
P.Address {
	margin-top: 0;
	margin-bottom: 0;
	font-style: italic;
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}
SPAN.Big {
	font-weight: bolder;
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}
SPAN.Citation {
	font-style: italic;
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}
SPAN.Code {
	font-family: monospace;
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}
SPAN.Definition {
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}
SPAN.Emphasize {
	font-style: italic;
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}
SPAN.Keyboard {
	font-weight: bold;
	font-family: monospace;
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}
SPAN.StrikeThrough {
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;text-decoration: line-through;
}
SPAN.Sample {
	font-family: monospace;
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}
SPAN.Strong {
	font-weight: bold;
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}
SPAN.SubScript {
	vertical-align: sub;
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}
SPAN.Superscript {
	vertical-align: super;
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}
SPAN.TeleType {
	font-family: monospace;
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}
SPAN.Var {
	font-style: italic;
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}
SPAN.Underline {
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;text-decoration: underline;
}
SPAN.Italic {
	font-style: italic;
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}
