@font-face {
  font-family: 'Lateef';
  font-style: normal;
  font-weight: 400;
  src: url('clientscript/fonts/lateef-v12-arabic_latin/lateef-v12-arabic_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lateef'),
       url('clientscript/fonts/lateef-v12-arabic_latin/lateef-v12-arabic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('clientscript/fonts/lateef-v12-arabic_latin/lateef-v12-arabic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('clientscript/fonts/lateef-v12-arabic_latin/lateef-v12-arabic_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('clientscript/fonts/lateef-v12-arabic_latin/lateef-v12-arabic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('clientscript/fonts/lateef-v12-arabic_latin/lateef-v12-arabic_latin-regular.svg#Lateef') format('svg'); /* Legacy iOS */
}

u{text-decoration: none;border-bottom: 2px solid;}

.posttext div:not(u),.posttext span:not(u){line-height: 160%;}


div.posttext {font-family:'Lateef', serif;padding:15px;}

a:link{color: #417394;font-weight: bold;text-decoration: none;}

a:visited {color: #417394;font-weight: bold;text-decoration: none;}

.new_qts,.qts_link{color: #000000;text-align: center;background-color: #F5F5DC;padding: 5px;border: solid 1px #000000;}

body{background-color :white;}

.img_center{color :black;}

.page-break{page-break-after: always;}

.thread_title,hr,#copyright,.org, 

.posttop,.tooltip2,.bbcode,.tooltip3,#pagenumbers,.pda,#navbar{display:none;}

.bbcode_container{border-left: 1px solid silver;border-right: 2px solid silver;border-bottom: 2px solid silver;border-top: 1px solid silver;}
