.page-break	{page-break-before: always;}



.quot{
	
    border-left: 1px solid silver;
	border-right: 2px solid silver;
	border-bottom: 2px solid silver;
	border-top: 1px solid silver;	
}

.thread_title {
	background: white;
   border: 0;
	
}


.up{
	display : none;
}
.pda{
   display : none;	
}

.link_org{
  display : none;	
}

#pagenumbers{
	display : none;
}
#navbar {
	display : none;
}
div.pagebody {
   background: white;
   border: 0;
}
div.posttop {
	display : none;
	
	
}

div.post {
	background: white;
	border: 0;
		
}


