pdf,
up,
div,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
abbr,
acronym,
del,
font,
img,
ins,
q,
strike,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	margin: 0;
	padding: 0;
	font: inherit;
	direction: rtl;
	/*font-size: 100%;*/
	
}


* html #wrapper {
    /*hack IE6*/
     width:100%;
     position: absolute;
	
    
}


html, body {height:100%; overflow:hidden; 
-webkit-overflow-scrolling: touch; 
}

#wrapper {
     height:100%;
     overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	position: relative;
	font-size: 155%;
}




.hit{

background-color:yellow;

}

em {
	background-color:yellow; color: black;  font-style: normal;
}


.staticrypt-page{
    position:relative;
    border:1px solid red;
    width:100%;
    text-align:center;
	background:#83a892;
}


body .staticrypt-form {


    background: #5a9e75 !important;/* fallback for old browsers */
    /*box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);*/

	   opacity: 1; 
   width: 200px;
   height: auto; 
   text-align: center; 
  

    line-height:normal;
    display:inline-block; 
    vertical-align:middle;
	

}
.staticrypt-instructions span{
color:#9b1b1b; font-size:90%; font-weight:bold;
}	

.staticrypt-title{
font-weight:bold;
 padding: 10px !important; 
}	
    
.staticrypt-form input {
            outline: 0;
            background: #f2f2f2;
          
			
            border: 0;
            margin: 0 0 10px;

            box-sizing: border-box;
            font-size: 14px;
}

.staticrypt-form .staticrypt-decrypt-button {
            text-transform: uppercase;
            outline: 0;
            background: #48ba76;
            width: 100%;
            border: 0;

            color: #FFFFFF;
            cursor: pointer;
			font-size: 120%;
}

.staticrypt-form .staticrypt-decrypt-button:hover, .staticrypt-form .staticrypt-decrypt-button:active, .staticrypt-form .staticrypt-decrypt-button:focus {
            background: #43A047;
}


#staticrypt-password{
	font-size: 150%;
	width: 100%;
}



.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 3px;
    
    border: none;
    cursor: pointer;
    width: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
    direction: rtl;
}

.dropdown-content {
    position: fixed;
   left: 25px;
   top: auto;
    display:none;
    background-color: #f9f9f9;
box-shadow: inset 0 0 2px #000000, 5px 5px 5px darkgrey;
	-moz-box-shadow: inset 0 0 2px #000000, 5px 5px 5px darkgrey;
	-webkit-box-shadow:inset 0 0 2px #000000, 5px 5px 5px darkgrey;
    z-index: 9999999;
   direction: rtl;
   text-align: center;
	-moz-border-radius-topright: 10px;
	border-collapse:separate !important; 
}

.dropdown-content a {
    direction: rtl;
	color: black;
    padding :10px;
    text-decoration: none;
    display: block;

}

.dropdown-content a:hover {cursor: pointer;background-color: #f1f1f1}



.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.show {display:block;}



.img_center{
	/*display:none;*/
}

a:link {
	color: #417394;
	font-weight: bold;
	text-decoration: none;
	
}
a:visited {
	color: #417394;
	font-weight: bold;text-decoration: none;
	
}



.move_pic{
	display: inline-block;
    *display: inline;
    zoom: 1;
}


.link_org div{
 margin:.1em 0;	
}
.link_org .selected{
	outline: none;
	direction: ltr;
	font-size: 80%;
	/*font-family:Arial;*/
	color: #417394;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
	padding:7px;
	background-color:#EEEEEE;
	/*line-height: 0%;*/
	display: inline-block;
    *display: inline;
    zoom: 1;
	overflow-wrap: break-word; -ms-word-break: break-all; word-break: break-word; word-break: break-all;
word-wrap:break-word;
	
	
}

.tooltiptext_custom{
font-size: 100%;
	/*font-family:Arial;*/	
}


.link_pic2 .NOTselected{
    padding:7px;
	text-decoration: none;
	background-color:#EEEEEE;
	/*line-height: 0%;*/

}
.link_pic .selected{
    direction: ltr;
	font-size: 60%;
	/*font-family:Arial;*/
	color: #417394;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
	padding:7px;
	background-color:#EEEEEE;
	/*line-height: 0%;*/
	display: inline-block;
    *display: inline;
    zoom: 1;
	overflow-wrap: break-word; -ms-word-break: break-all; word-break: break-word; word-break: break-all;
word-wrap:break-word;
}

.alpom2 .selected{
    direction: ltr;
	font-size: 80%;
	/*font-family:Arial;*/
	color: #417394;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
	padding:7px;
	background-color:#EEEEEE;
	/*line-height: 0%;*/
	display: inline-block;
    *display: inline;
    zoom: 1;
	overflow-wrap: break-word; -ms-word-break: break-all; word-break: break-word; word-break: break-all;
word-wrap:break-word;
}


.selected2{
    direction: ltr;
	font-size: 80%;
	/*font-family:Arial;*/
	color: #417394;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
	padding:7px;
	background-color:#EEEEEE;
	/*line-height: 0%;*/
	display: inline-block;
    *display: inline;
    zoom: 1;
	overflow-wrap: break-word; -ms-word-break: break-all; word-break: break-word; word-break: break-all;
word-wrap:break-word;
}

.alpom2{
	/*font-family:Arial;*/
	/*font-size: 60%;*/
}

.alpom2 img{

  height:auto !important;

}


.alpom2 .alpom2_go{
	color: #ffffff;
}

.lozad{
	border-style: solid;
    border-color: #417394;
}

.linkstyle{

	/*font-size: 80%;*/
	direction: rtl;
	outline: none;
	border-radius: 6px;
	color: #ffffff;
	background-color: #2b7b91;
	padding-top: 0px;
    padding-right: 4px;
    padding-bottom: 0px;
    padding-left: 4px;
	font-weight: bold;
	cursor: pointer;
    border-style: solid;
    border-color: white;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.linkstyle a{
color: #ffffff!important;
}

.linkstyle2{
border-radius: 6px;
padding-top: 0px;
padding-right: 4px;
padding-bottom: 0px;
padding-left: 4px;
background-color: #2b7b91;
color:white!important;
}
.image_go{
	
	color: #ffffff;
	
}

.extImag{
/*font-family:Arial;*/
padding:6px;
display: inline-block;
*display: inline;
zoom: 1;	
}

.extImag2{
display: inline-block;
*display: inline;
zoom: 1;	
}
.img2{
	border-style: solid;
    border-color: #417394;
	/*max-width: 100%;*/
    height:auto !important;
}
u{text-decoration: none;border-bottom: 1px solid;line-height: 180%}

.posttext div,.posttext span{line-height: 150%;}

div.language{
	width:100%;
	/*font-size: 60%;*/
}

div.language div{
	display:inline-block;
	*display: inline;
    *zoom:1;
}





body #copy_tooltip {
   position:fixed !important;
   _position: absolute; /*ie6 and above*/

   border: 1px solid black; 
   background: rgb(219, 219, 0) none repeat scroll 0% 0%; 
   opacity: 1; 
   width: 100px;
   height: auto; 
   text-align: center; 
   padding: 4px; 
   z-index: 9; 
    left: 50%;
   top: 35%;

   margin-left: -50px;
   margin-right: 50px;
   display:none;
}


.header_topic{
height: 20px;
/*width:100%;*/
text-align: left;
border: 2px dashed #f69c55;
color: #ffffff;
background-color: #025172;
padding: 5px 5px;
position: fixed;
overflow:hidden;
vertical-align: middle;
line-height: 20px;
top: 0px;
z-index:888888;  
}
.header_img{
cursor: pointer;
max-height: 100%;  
max-width: 100%; 
width: auto;
height: auto;
position: absolute;  
top: 0;  
bottom: 0;  
right: 0;  
margin: auto;	
}
.header_label{
cursor: pointer;
display: inline-block;
vertical-align: bottom;
background-color: #666699;
font-size: 11px;
padding: 1;
color:white; 	
}



@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) 
{ @media {
   body { margin-right:2px; } 
}}


/* The Modal (background) */
.modal {
    position: absolute; /* Stay in place */
    z-index: 999999; /* Sit on top */
    display :none;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow-x: hidden; /* Enable scroll if needed */
    overflow-y: auto;
    background-color: grey; /* Black w/ opacity */


}
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}  

.modal-content {
  margin: auto;
  display: block;
  max-width: 600px; 
}

.modal-content img {
  width: 100%;
}




/* The Close Button */
/* The Close Button */
.close {

	padding-left: 8px;
    padding-right: 8px;
    position: relative;

    left: 0px;
    top:3px;
	/*left: 0px;*/
    color: #f1f1f1;
    font-size: 20px;
    font-weight: bold;
    background-color: black;
	border-style: solid;
    border-color: white;
	cursor:pointer;
	
zoom: 1; // IE hack to trigger hasLayout
*display: inline; // IE hack to achieve inline-block behavior
*float: none;



}

.close  span{
top:-3px;
/*position: relative;
position: inherit;*/
}


.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}  




.hide_param{
overflow-wrap: break-word; -ms-word-break: break-all; word-break: break-word; word-break: break-all;
word-wrap:break-word;

}


.hide_external_link{
/*display: none;*/
-ms-word-break: break-all;
word-break: break-all;
word-break: break-word;
-webkit-hyphens: auto;
-moz-hyphens: auto;
hyphens: auto;
}

.external_link:link,
.external_link:visited {
	
	outline: none;
	border-radius: 6px;
	color: #ffffff;
	background-color: #2b7b91;
	padding: 5px 5px;
	 -ms-word-break: break-all;
     word-break: break-all;

     /* Non standard for WebKit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;

}


.local_link:link,
.local_link:visited {
	
	outline: none;
	border-radius: 6px;
	color: #ffffff;
	background-color: #2b7b91;
	padding: 5px 5px;
	 -ms-word-break: break-all;
     word-break: break-all;

     /* Non standard for WebKit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
}






.highlight{ background: #D3E18A;}
.light{ background-color: yellow;}
			
.selection {
    background-color: rgba(255, 255, 0, 0.3);
}


.loading {
	/*background-image: url("clientscript/images/loading.gif")/*! important ;
	background-repeat: no-repeat	 ! important ;
    display: none;
	left: 55%;
	top: 40%;
	margin-left: -50px;
	margin-top: -50px;
	position:fixed;
    _position:absolute;
    _left: expression(eval(250+(document.body.scrollLeft)));
    _top:expression(eval(150+(document.body.scrollTop)));
	z-index :159;*/
	
	
	/*background-image: url("clientscript/images/loading.gif")! important ;
    min-height: 1.25in !important;
    background-repeat: no-repeat !important;
    background-position: center .30in !important;
    background-size: 1in 1in !important;
	position: absolute;
	top: 25%;
	width: 100%;
	z-index :159;*/
	
	
  }
  
.container {
	/*padding: 5px;*/
}
.container span {
	
}
.container span.current {
	display: inline-block;
	zoom: 1;
	*display: inline;
	background-color: #E1E4F2;
	padding: 0px 3px 0px 3px;
	text-decoration: none;
}
.container span a {
	display: inline-block;
	zoom: 1;
	*display: inline;
	color: #ffffff;
	background-color: #7192a8;
	padding: 0px 10px 0px 10px;
	border: solid 1px  #ffffff;
	text-decoration: none;
}
.pagenumbers span a {
	background-color: #E1E4F2;
	display: inline-block;
	zoom: 1;
	*display: inline;
	color: #000000;
	padding: 0px 10px 0px 10px;
	border: solid 1px #000000;text-decoration: none;
}

.bbcode_container {
	color: #000000;
	text-align: center;
	background-color: #d0e2e2;
	padding: 5px;
	border: solid 1px #000000;
}

.new_qts {
	color: #000000;
	text-align: center;
	
	background-color: #F5F5DC;
	padding: 5px;
	border: solid 1px #000000;
}

.qts_link {
	color: #000000;
	text-align: center;
	background-color: #efd332;
	padding: 5px;
	border: solid 1px #000000;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}


.thread_title {
	/*background: #F9F9F9;*/
	background: #d5deed;
	border: 1px solid #c0c0c0;
	padding: 4px;
	white-space: wrap;
	font-weight: bold;
	
}

.up2 {
display: inline-block;
  font-weight: bold;
  font-size: 94%;
  color: #fff;
  outline: none;
  cursor: pointer;
  top:-1px;
  position:relative;
  vertical-align: middle;

}

[unselectable=on] {
	
-moz-user-select: none; 
-khtml-user-select: none; 
-webkit-user-select: none; 
/* Introduced in IE 10. See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/ */ 
-ms-user-select: none; user-select: none; 
}


.up {
	
background-color: #20B2AA;
display: inline-block;
  top:-3px;
  position:relative;
  font-weight: bold;
  font-size: 94%;
  color: #fff;
  vertical-align: middle;
  outline: none;
  cursor: pointer;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
 
 
}
.font-button {
  background-color: #0090CB;
  width: 24px;
  display: inline-block;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 2px;
  padding-left: 2px;
 /* font-family: helvetica, arial, sans-serif;*/
  font-weight: bold;
  color: #fff;
  vertical-align: middle;
  outline: none;
  cursor: pointer;
	 -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.tooltip4 {
	position: relative;
	display: inline-block;
	width: auto;
	z-index: 3;
}
.tooltip4 .tooltiptext4 {
	direction: rtl;
	word-break: break-all;
	display: none;
	width: 260px;
	background-color: #000000;
	color: #ffffff;
	border-radius: 6px;
	padding: 5px 0;
	top: 45px;
	right: -2px;
	text-align: left;
	padding: 5px;
	position: absolute;
	font-weight: bold;
	font: 15px verdana arial sans-serif;

}
.tooltip5 {
	position: relative;
	display: inline-block;
	width: auto;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.tooltip5 .tooltiptext5 {
	display: none;
	width: 120px;
	background-color: #000000;
	color: #ffffff;
	border-radius: 6px;
	padding: 5px 0;
	top: 40px;
	right: -2px;
	text-align: center;
	padding: 5px;
	position: absolute;
	font-weight: bold;
	font: 15px verdana arial sans-serif;
	 -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


.tooltip3 {
	position: relative;
	display: inline-block;
	width: auto;
	z-index: 1;
}
.tooltip3 .tooltiptext3 {
	direction: rtl;
	word-break: break-all;
	display: none;
	width: 260px;
	background-color: #000000;
	color: #ffffff;
	border-radius: 6px;
	padding: 5px 0;
	top: 40px;
	right: -2px;
	text-align: left;
	padding: 5px;
	position: absolute;
	font-weight: bold;
	font: 15px verdana arial sans-serif;
}
.tooltip2 {
	position: relative;
	display: inline-block;
	width: auto;
}
.tooltip2 .tooltiptext2 {
	direction: rtl;
	word-break: break-all;
	display: none;
	width: 260px;
	background-color: #000000;
	color: #ffffff;
	border-radius: 6px;
	padding: 5px 0;
	top: 40px;
	left: -2px;
	text-align: left;
	padding: 5px;
	position: absolute;
	font-weight: bold;
	font: 15px verdana arial sans-serif;
}
.tooltiptext {
	display: none;
}
a {
   
		
}



.N_replyes {
	color: #c0c0c0;
}
p.largefont {
	text-align: left;
	font-size: 10pt;
	font-weight: bold;
}
div.pagebody {
	background: #ffffff;
	padding: 2px;
	border: 1px solid #c0c0c0;
}
.pda {
	background: #F9F9F9;
	border: 1px solid #c0c0c0;
	padding-bottom:3px;
	padding-top:10px;
	padding-left:5px;
	padding-right:5px;
	
}
div.post {
	border: 1px solid #c0c0c0;
	padding: 0px;
	/*font: 12px verdana arial sans-serif;*/
	/*font-family: 'Droid Arabic Kufi', serif;*/
}
div.posttop {
	background: #EEEEEE;
	
	padding-top: 6px;
	padding-left: 6px;
	padding-right: 6px;
	padding-bottom: 2px;
}
div.username {
	width: auto;
	float: left;
	position:relative;
	top:1px;
}
div.date {
	width: auto;
	text-align: right;
}

div.highlight {
	padding: 4px;
	background: #FFFFCC;
}
span.small {
	font-size: 10px;
}
#content {
	margin-bottom: 8px;
	border: 1px solid #c0c0c0;
	padding: 1px;
}
#navbar {
	background: #F9F9F9;
	border: 1px solid #c0c0c0;
	padding: 4px;
}
#pagenumbers {
	text-align: center;
	background: #F9F9F9;
	border-left: 1px solid #c0c0c0;
	border-right: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	border-top: 1px solid #c0c0c0;
}
.footer {
	text-align: center;
	font-size: 12px;
	padding:3px;
}

#copyright {
	font: 12px verdana arial sans-serif;
	font-weight: bold;
}
hr {
	border-top: 1px solid #c0c0c0;
}
P.Preformatted {
	line-height: normal;
	margin-bottom: 14pt;
	margin-top: 14pt;
	x-text-tab-stops: repeat 1in;
	white-space: nowrap;
	font-family: monospace;
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}
P.Address {
	margin-top: 0;
	margin-bottom: 0;
	font-style: italic;
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}
SPAN.Big {
	font-weight: bolder;
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}
SPAN.Citation {
	font-style: italic;
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}
SPAN.Code {
	font-family: monospace;
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}
SPAN.Definition {
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}
SPAN.Emphasize {
	font-style: italic;
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}
SPAN.Keyboard {
	font-weight: bold;
	font-family: monospace;
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}
SPAN.StrikeThrough {
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;text-decoration: line-through;
}
SPAN.Sample {
	font-family: monospace;
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}
SPAN.Strong {
	font-weight: bold;
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}
SPAN.SubScript {
	vertical-align: sub;
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}
SPAN.Superscript {
	vertical-align: super;
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}
SPAN.TeleType {
	font-family: monospace;
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}
SPAN.Var {
	font-style: italic;
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}
SPAN.Underline {
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;text-decoration: underline;
}
SPAN.Italic {
	font-style: italic;
	direction: rtl;
	font: inherit;
	font-size: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}



.org, .tooltip2,.bbcode,.tooltip3,.bbcode_img2{
	
display:none;
	
}



ol.decimal{ list-style: inside !important;}

ol.decimal li {
        border: 1px solid #e6e6e6; list-style-type: decimal !important;
}

ul {
	list-style-type: none;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
ol,
ul,
li {
	margin: 0;
	padding: 0;
	border: 0;
	
	/*font: inherit;*/
	
}
li span.padd {
font-weight: bold;
}

#content ul  > li{
	list-style-type: none;
	list-style: none;
	border: 1px solid #e6e6e6;
	padding: 5px;
	/*font: 15px times new roman;*/
	font-size: 100%;
}

#selecth1FontFamily {
display: block;
margin: 0 auto;
font-size:inherit;
	
}

.selecth1FontFamily {
text-align:center;
background-color:grey;	
padding:4px;
font-weight:bold;
font-size:100%;
}
