
*{
	
 -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none;/* Internet Explorer/Edge */
		 -o-user-select: none;
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


.enable_edit{
	
 -webkit-touch-callout:default; /* iOS Safari */
    -webkit-user-select: text; /* Safari */
     -khtml-user-select: text; /* Konqueror HTML */
       -moz-user-select: text; /* Firefox */
        -ms-user-select: text;/* Internet Explorer/Edge */
		 -o-user-select: text;
            user-select: text; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */		
}




div[data-role="page"]{

overflow: hidden!important;	

	
}


#three2,#two{
	overflow: auto!important;	
}

/*.ui-popup-active div a{
	position:relative!important;
	z-index:1000!important;
}*/


.hide {
display:none;
  
}

.visibility {
 
 visibility: hidden;
  
}

.hide2 {

max-height: 10000em !important;
	-o-transition-duration: 0.35s;
	-o-transition-timing-function: ease-out;
	-o-transition-property: opacity;
	-ms-transition-duration: 0.35s;
	-ms-transition-timing-function: ease-out;
	-ms-transition-property: opacity;
	-moz-transition-duration: 0.35s;
	-moz-transition-timing-function: ease-out;
	-moz-transition-property: opacity;
	-webkit-transition-duration: 0.35s;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-property: opacity;
	transition-duration: 0.35s;
	transition-timing-function: ease-out;
	transition-property: opacity;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-ms-perspective: 1000;
	perspective: 1000;
	opacity: 1 !important
  
}



div.toc-holder ul {
    list-style: none;
    margin: 0;
    padding: 0;
	
}
div.toc-holder ul a {
    
    margin: 0;
    /*padding: 0;*/
	white-space: normal !important;
}

div.toc-holder ul li.child:not(.show) {
    display: none;

}


div.ui-li-static, div.ui-body-inherit,div.ui-last-child,
div.toc-holder ul li.child.show {
   /* background-color: red;*/
	max-height: 50000em;
    min-height: 0;
    overflow-y: visible;
  
}


div.toc-holder li.selected {
	
    border-right-color: black;
	border-right: .4em solid;
	border-left: .4em solid;
	border-top: .4em solid;
	border-bottom: .4em solid;
}

body.media-desktop div.drill-down.toc-holder li.inactive,
body.media-mobile div.drill-down.toc-holder li.inactive,
body.media-landscape div.drill-down.toc-holder li.inactive {
display: none;   
}

li.inactive{
	
display: none;
	
}

.loading {
    background-image: url("loading.gif") !important;
    min-height: 1.25in !important;
    background-repeat: no-repeat !important;
    background-position: center .25in !important;
    background-size: 1in 1in !important
}

div.topic-state {
	position: absolute;
	top: 25%;
	width: 100%
}
.wSearchResultItem {
   /* margin: 1em 0*/
}

.wSearchResultItem a.nolink {
    text-decoration: none
}

.wSearchResultItem a.nolink:active {
    text-decoration: underline
}

.wSearchResultItem a.nolink  .wSearchResultTitle,
.wSearchResultItem a.nolink  .wSearchResultTitleHover {
    font-size: 1.25em;
    margin-bottom: .25em;
    word-wrap: break-word
}

.wSearchResultItem .wSearchContext {
    font-size: 1em
}

.wSearchResultItem .wSearchURL
{
    margin-top: .5em;
    /*font-size: .75em;*/
    word-wrap: break-word
}


.wSearchResultItem {
   /* padding-bottom: .5em;*/
    /*margin-bottom: .5em;*/
    border-top-width: 0.1em;
    border-top-style: solid;
    border-top-color: #e6e6e6;

}
