
html, body {

}


u{text-decoration: none;border-bottom: 1px solid;line-height: 180%}

.posttext {/*line-height: 10000%;*/}


div.posttext {/*font-family:'Lateef', serif;padding:15px;*/}

a:link{color: #417394;font-weight: bold;text-decoration: none;}

a:visited {color: #417394;font-weight: bold;text-decoration: none;}

.new_qts,.qts_link{color: #000000;text-align: center;background-color: #F5F5DC;padding: 5px;border: solid 1px #000000;}

body{background-color :white;}

.img_center{color :black;}

.page-break{page-break-after: always;}

.thread_title,hr,#copyright,.org, 

.posttop,.tooltip2,.bbcode,.tooltip3,#pagenumbers,.pda,#navbar{display:none;}

.bbcode_container{border-left: 1px solid silver;border-right: 2px solid silver;border-bottom: 2px solid silver;border-top: 1px solid silver;}
.selecth1FontFamily{
	
display:none;	
	
}