#rh_default_topic_placeholder_id pdf {
                                      margin:0;
                                      padding:0;
                                      font-size:100%;
                                      font:inherit;
                                      direction:rtl;
}
#rh_default_topic_placeholder_id up {
                                     margin:0;
                                     padding:0;
                                     font-size:100%;
                                     font:inherit;
                                     direction:rtl;
}
#rh_default_topic_placeholder_id div {
                                      margin:0;
                                      padding:0;
                                      font-size:100%;
                                      font:inherit;
                                      direction:rtl;
                                      margin:0;
                                      padding:0;
                                      font-size:100%;
                                      font:inherit;
                                      direction:rtl;
}
#rh_default_topic_placeholder_id {
                                  margin:0;
                                  padding:0;
                                  font-size:100%;
                                  font:inherit;
                                  direction:rtl;
                                  background:#EEEEEE;
                                  margin:0px 3px 0px 3px;
}
#rh_default_topic_placeholder_id span {
                                       margin:0;
                                       padding:0;
                                       font-size:100%;
                                       font:inherit;
                                       direction:rtl;
}
#rh_default_topic_placeholder_id applet {
                                         margin:0;
                                         padding:0;
                                         font-size:100%;
                                         font:inherit;
                                         direction:rtl;
}
#rh_default_topic_placeholder_id object {
                                         margin:0;
                                         padding:0;
                                         font-size:100%;
                                         font:inherit;
                                         direction:rtl;
}
#rh_default_topic_placeholder_id iframe {
                                         margin:0;
                                         padding:0;
                                         font-size:100%;
                                         font:inherit;
                                         direction:rtl;
}
#rh_default_topic_placeholder_id h1 {
                                     margin:0;
                                     padding:0;
                                     font-size:100%;
                                     font:inherit;
                                     direction:rtl;
}
#rh_default_topic_placeholder_id h2 {
                                     margin:0;
                                     padding:0;
                                     font-size:100%;
                                     font:inherit;
                                     direction:rtl;
}
#rh_default_topic_placeholder_id h3 {
                                     margin:0;
                                     padding:0;
                                     font-size:100%;
                                     font:inherit;
                                     direction:rtl;
}
#rh_default_topic_placeholder_id h4 {
                                     margin:0;
                                     padding:0;
                                     font-size:100%;
                                     font:inherit;
                                     direction:rtl;
}
#rh_default_topic_placeholder_id h5 {
                                     margin:0;
                                     padding:0;
                                     font-size:100%;
                                     font:inherit;
                                     direction:rtl;
}
#rh_default_topic_placeholder_id h6 {
                                     margin:0;
                                     padding:0;
                                     font-size:100%;
                                     font:inherit;
                                     direction:rtl;
}
#rh_default_topic_placeholder_id p {
                                    margin:0;
                                    padding:0;
                                    font-size:100%;
                                    font:inherit;
                                    direction:rtl;
}
#rh_default_topic_placeholder_id blockquote {
                                             margin:0;
                                             padding:0;
                                             font-size:100%;
                                             font:inherit;
                                             direction:rtl;
}
#rh_default_topic_placeholder_id a {
                                    margin:0;
                                    padding:0;
                                    font-size:100%;
                                    font:inherit;
                                    direction:rtl;
}
#rh_default_topic_placeholder_id abbr {
                                       margin:0;
                                       padding:0;
                                       font-size:100%;
                                       font:inherit;
                                       direction:rtl;
}
#rh_default_topic_placeholder_id acronym {
                                          margin:0;
                                          padding:0;
                                          font-size:100%;
                                          font:inherit;
                                          direction:rtl;
}
#rh_default_topic_placeholder_id del {
                                      margin:0;
                                      padding:0;
                                      font-size:100%;
                                      font:inherit;
                                      direction:rtl;
}
#rh_default_topic_placeholder_id font {
                                       margin:0;
                                       padding:0;
                                       font-size:100%;
                                       font:inherit;
                                       direction:rtl;
}
#rh_default_topic_placeholder_id img {
                                      margin:0;
                                      padding:0;
                                      font-size:100%;
                                      font:inherit;
                                      direction:rtl;
}
#rh_default_topic_placeholder_id ins {
                                      margin:0;
                                      padding:0;
                                      font-size:100%;
                                      font:inherit;
                                      direction:rtl;
}
#rh_default_topic_placeholder_id q {
                                    margin:0;
                                    padding:0;
                                    font-size:100%;
                                    font:inherit;
                                    direction:rtl;
}
#rh_default_topic_placeholder_id strike {
                                         margin:0;
                                         padding:0;
                                         font-size:100%;
                                         font:inherit;
                                         direction:rtl;
}
#rh_default_topic_placeholder_id center {
                                         margin:0;
                                         padding:0;
                                         font-size:100%;
                                         font:inherit;
                                         direction:rtl;
}
#rh_default_topic_placeholder_id dl {
                                     margin:0;
                                     padding:0;
                                     font-size:100%;
                                     font:inherit;
                                     direction:rtl;
}
#rh_default_topic_placeholder_id dt {
                                     margin:0;
                                     padding:0;
                                     font-size:100%;
                                     font:inherit;
                                     direction:rtl;
}
#rh_default_topic_placeholder_id dd {
                                     margin:0;
                                     padding:0;
                                     font-size:100%;
                                     font:inherit;
                                     direction:rtl;
}
#rh_default_topic_placeholder_id ol {
                                     margin:0;
                                     padding:0;
                                     font-size:100%;
                                     font:inherit;
                                     direction:rtl;
                                     margin:0;
                                     padding:0;
                                     border:0;
}
#rh_default_topic_placeholder_id ul {
                                     margin:0;
                                     padding:0;
                                     font-size:100%;
                                     font:inherit;
                                     direction:rtl;
                                     list-style-type:none;
                                     list-style:none;
                                     margin:0px;
                                     padding:0px;
                                     margin:0;
                                     padding:0;
                                     border:0;
}
#rh_default_topic_placeholder_id li {
                                     margin:0;
                                     padding:0;
                                     font-size:100%;
                                     font:inherit;
                                     direction:rtl;
                                     margin:0;
                                     padding:0;
                                     border:0;
                                     list-style-type:none;
                                     list-style:none;
                                     font-size:10pt;
                                     border:1px solid #e6e6e6;
                                     padding:5px;
                                     font:15px times new roman;
}
#rh_default_topic_placeholder_id fieldset {
                                           margin:0;
                                           padding:0;
                                           font-size:100%;
                                           font:inherit;
                                           direction:rtl;
}
#rh_default_topic_placeholder_id form {
                                       margin:0;
                                       padding:0;
                                       font-size:100%;
                                       font:inherit;
                                       direction:rtl;
}
#rh_default_topic_placeholder_id label {
                                        margin:0;
                                        padding:0;
                                        font-size:100%;
                                        font:inherit;
                                        direction:rtl;
}
#rh_default_topic_placeholder_id legend {
                                         margin:0;
                                         padding:0;
                                         font-size:100%;
                                         font:inherit;
                                         direction:rtl;
}
#rh_default_topic_placeholder_id caption {
                                          margin:0;
                                          padding:0;
                                          font-size:100%;
                                          font:inherit;
                                          direction:rtl;
}
#rh_default_topic_placeholder_id tbody {
                                        margin:0;
                                        padding:0;
                                        font-size:100%;
                                        font:inherit;
                                        direction:rtl;
}
#rh_default_topic_placeholder_id tfoot {
                                        margin:0;
                                        padding:0;
                                        font-size:100%;
                                        font:inherit;
                                        direction:rtl;
}
#rh_default_topic_placeholder_id thead {
                                        margin:0;
                                        padding:0;
                                        font-size:100%;
                                        font:inherit;
                                        direction:rtl;
}
#rh_default_topic_placeholder_id tr {
                                     margin:0;
                                     padding:0;
                                     font-size:100%;
                                     font:inherit;
                                     direction:rtl;
}
#rh_default_topic_placeholder_id th {
                                     margin:0;
                                     padding:0;
                                     font-size:100%;
                                     font:inherit;
                                     direction:rtl;
}
#rh_default_topic_placeholder_id td {
                                     margin:0;
                                     padding:0;
                                     font-size:100%;
                                     font:inherit;
                                     direction:rtl;
}
@media {
#rh_default_topic_placeholder_id {
                                  margin-right:2px;
}
}
#rh_default_topic_placeholder_id .modal {
                                         position:fixed;
                                         z-index:999999;
                                         display:none;
                                         left:0;
                                         top:0;
                                         width:100%;
                                         height:100%;
                                         overflow:auto;
                                         background-color:grey;
}
#rh_default_topic_placeholder_id .modal-content {
                                                 margin:auto;
                                                 display:block;
                                                 width:80%;
                                                 max-width:700px;
}
#rh_default_topic_placeholder_id .close {
                                         padding-left:8px;
                                         padding-right:8px;
                                         position:absolute;
                                         top:0px;
                                         right:0px;
                                         color:#f1f1f1;
                                         font-size:20px;
                                         font-weight:bold;
                                         background-color:black;
                                         border-style:solid;
                                         border-color:white;
}
#rh_default_topic_placeholder_id .close:hover {
                                               color:#bbb;
                                               text-decoration:none;
                                               cursor:pointer;
}
#rh_default_topic_placeholder_id .close:focus {
                                               color:#bbb;
                                               text-decoration:none;
                                               cursor:pointer;
}
@media only screen and (max-width: 700px){
#rh_default_topic_placeholder_id .modal-content {
                                                 width:100%;
}
}
#rh_default_topic_placeholder_id .hide_param {
                                              overflow-wrap:break-word;
                                              -ms-word-break:break-all;
                                              word-break:break-word;
                                              word-break:break-all;
                                              word-wrap:break-word;
}
#rh_default_topic_placeholder_id .hide_external_link {
                                                      -ms-word-break:break-all;
                                                      word-break:break-all;
                                                      word-break:break-word;
                                                      -webkit-hyphens:auto;
                                                      -moz-hyphens:auto;
                                                      hyphens:auto;
}
#rh_default_topic_placeholder_id .external_link:link {
                                                      outline:none;
                                                      border-radius:6px;
                                                      color:#ffffff;
                                                      background-color:#2b7b91;
                                                      padding:5px 5px;
                                                      -ms-word-break:break-all;
                                                      word-break:break-all;
                                                      word-break:break-word;
                                                      -webkit-hyphens:auto;
                                                      -moz-hyphens:auto;
                                                      hyphens:auto;
}
#rh_default_topic_placeholder_id .external_link:visited {
                                                         outline:none;
                                                         border-radius:6px;
                                                         color:#ffffff;
                                                         background-color:#2b7b91;
                                                         padding:5px 5px;
                                                         -ms-word-break:break-all;
                                                         word-break:break-all;
                                                         word-break:break-word;
                                                         -webkit-hyphens:auto;
                                                         -moz-hyphens:auto;
                                                         hyphens:auto;
}
#rh_default_topic_placeholder_id .local_link:link {
                                                   outline:none;
                                                   border-radius:6px;
                                                   color:#ffffff;
                                                   background-color:#2b7b91;
                                                   padding:5px 5px;
                                                   -ms-word-break:break-all;
                                                   word-break:break-all;
                                                   word-break:break-word;
                                                   -webkit-hyphens:auto;
                                                   -moz-hyphens:auto;
                                                   hyphens:auto;
}
#rh_default_topic_placeholder_id .local_link:visited {
                                                      outline:none;
                                                      border-radius:6px;
                                                      color:#ffffff;
                                                      background-color:#2b7b91;
                                                      padding:5px 5px;
                                                      -ms-word-break:break-all;
                                                      word-break:break-all;
                                                      word-break:break-word;
                                                      -webkit-hyphens:auto;
                                                      -moz-hyphens:auto;
                                                      hyphens:auto;
}
#rh_default_topic_placeholder_id .highlight {
                                             background:#D3E18A;
}
#rh_default_topic_placeholder_id .light {
                                         background-color:yellow;
}
#rh_default_topic_placeholder_id .selection {
                                             background-color:rgba(255, 255, 0, 0.3);
}
#rh_default_topic_placeholder_id .loading {
                                           background-image:url("clientscript/images/loading.gif")	  ! important;
                                           background-repeat:no-repeat ! important;
                                           display:none;
                                           width:100px;
                                           height:100px;
                                           left:55%;
                                           top:40%;
                                           margin-left:-50px;
                                           margin-top:-50px;
                                           position:fixed;
                                           _position:absolute;
                                           _left:expression(eval(250+(document.body.scrollLeft) ));
                                           _top:expression(eval(150+(document.body.scrollTop) ));
                                           z-index:159;
}
#rh_default_topic_placeholder_id .container {
}
#rh_default_topic_placeholder_id .container span {
}
#rh_default_topic_placeholder_id .container span.current {
                                                          display:inline-block;
                                                          zoom:1;
                                                          *display:inline;
                                                          background-color:#E1E4F2;
                                                          padding:3px 5px 3px 5px;
                                                          text-decoration:none;
}
#rh_default_topic_placeholder_id .container span a {
                                                    display:inline-block;
                                                    zoom:1;
                                                    *display:inline;
                                                    color:#ffffff;
                                                    background-color:#7192a8;
                                                    padding:3px 15px 3px 15px;
                                                    border:solid 1px #ffffff;
                                                    text-decoration:none;
}
#rh_default_topic_placeholder_id .pagenumbers span a {
                                                      background-color:#E1E4F2;
                                                      display:inline-block;
                                                      zoom:1;
                                                      *display:inline;
                                                      color:#000000;
                                                      padding:0px 13px 0px 13px;
                                                      border:solid 1px #000000;
                                                      text-decoration:none;
}
#rh_default_topic_placeholder_id .linkstyle:link {
                                                  direction:rtl;
                                                  outline:none;
                                                  border-radius:6px;
                                                  color:#ffffff;
                                                  background-color:#2b7b91;
                                                  padding:5px 5px;
}
#rh_default_topic_placeholder_id .linkstyle:visited {
                                                     direction:rtl;
                                                     outline:none;
                                                     border-radius:6px;
                                                     color:#ffffff;
                                                     background-color:#2b7b91;
                                                     padding:5px 5px;
}
#rh_default_topic_placeholder_id .bbcode_container {
                                                    color:#000000;
                                                    text-align:center;
                                                    background-color:#d0e2e2;
                                                    padding:5px;
                                                    border:solid 1px #000000;
}
#rh_default_topic_placeholder_id .thread_title {
                                                background:#F9F9F9;
                                                border:1px solid #c0c0c0;
                                                padding:4px;
                                                white-space:wrap;
                                                font-weight:bold;
}
#rh_default_topic_placeholder_id .up {
                                      font:12px verdana arial sans-serif;
                                      background-color:#20B2AA;
                                      display:inline-block;
                                      padding-top:7px;
                                      padding-bottom:7px;
                                      padding-right:3px;
                                      padding-left:3px;
                                      font-family:helvetica, arial, sans-serif;
                                      font-weight:bold;
                                      color:#fff;
                                      vertical-align:middle;
                                      outline:none;
                                      cursor:pointer;
                                      text-align:center;
}
#rh_default_topic_placeholder_id .font-button {
                                               background-color:#0090CB;
                                               width:40px;
                                               display:inline-block;
                                               color:#ffffff;
                                               text-align:center;
                                               display:inline-block;
                                               padding-top:7px;
                                               padding-bottom:7px;
                                               padding-right:3px;
                                               padding-left:3px;
                                               font-family:helvetica, arial, sans-serif;
                                               font-weight:bold;
                                               color:#fff;
                                               vertical-align:middle;
                                               outline:none;
                                               cursor:pointer;
                                               -moz-user-select:none;
                                               -ms-user-select:none;
                                               -khtml-user-select:none;
                                               -webkit-user-select:none;
                                               -webkit-touch-callout:none;
}
#rh_default_topic_placeholder_id .tooltip4 {
                                            position:relative;
                                            display:inline-block;
                                            width:auto;
                                            z-index:3;
}
#rh_default_topic_placeholder_id .tooltip4 .tooltiptext4 {
                                                          direction:rtl;
                                                          word-break:break-all;
                                                          display:none;
                                                          width:260px;
                                                          background-color:#000000;
                                                          color:#ffffff;
                                                          border-radius:6px;
                                                          padding:5px 0;
                                                          top:45px;
                                                          right:-2px;
                                                          text-align:left;
                                                          padding:5px;
                                                          position:absolute;
                                                          font-weight:bold;
                                                          font:15px verdana arial sans-serif;
}
#rh_default_topic_placeholder_id .tooltip3 {
                                            position:relative;
                                            display:inline-block;
                                            width:auto;
                                            z-index:1;
}
#rh_default_topic_placeholder_id .tooltip3 .tooltiptext3 {
                                                          direction:rtl;
                                                          word-break:break-all;
                                                          display:none;
                                                          width:260px;
                                                          background-color:#000000;
                                                          color:#ffffff;
                                                          border-radius:6px;
                                                          padding:5px 0;
                                                          top:40px;
                                                          right:-2px;
                                                          text-align:left;
                                                          padding:5px;
                                                          position:absolute;
                                                          font-weight:bold;
                                                          font:15px verdana arial sans-serif;
}
#rh_default_topic_placeholder_id .tooltip2 {
                                            position:relative;
                                            display:inline-block;
                                            width:auto;
}
#rh_default_topic_placeholder_id .tooltip2 .tooltiptext2 {
                                                          direction:rtl;
                                                          word-break:break-all;
                                                          display:none;
                                                          width:260px;
                                                          background-color:#000000;
                                                          color:#ffffff;
                                                          border-radius:6px;
                                                          padding:5px 0;
                                                          top:40px;
                                                          left:-2px;
                                                          text-align:left;
                                                          padding:5px;
                                                          position:absolute;
                                                          font-weight:bold;
                                                          font:15px verdana arial sans-serif;
}
#rh_default_topic_placeholder_id .tooltiptext {
                                               display:none;
}
#rh_default_topic_placeholder_id a:link {
                                         color:#417394;
                                         font-weight:bold;
                                         text-decoration:none;
}
#rh_default_topic_placeholder_id a:visited {
                                            color:#417394;
                                            font-weight:bold;
                                            text-decoration:none;
}
#rh_default_topic_placeholder_id li span.padd {
                                               font-weight:bold;
}
#rh_default_topic_placeholder_id .N_replyes {
                                             color:#c0c0c0;
}
#rh_default_topic_placeholder_id p.largefont {
                                              text-align:left;
                                              font-size:10pt;
                                              font-weight:bold;
}
#rh_default_topic_placeholder_id div.pagebody {
                                               background:#ffffff;
                                               padding:2px;
                                               border:1px solid #c0c0c0;
}
#rh_default_topic_placeholder_id .pda {
                                       background:#F9F9F9;
                                       border:1px solid #c0c0c0;
                                       padding:4px;
}
#rh_default_topic_placeholder_id div.post {
                                           border:1px solid #c0c0c0;
                                           padding:1px;
                                           font:12px verdana arial sans-serif;
}
#rh_default_topic_placeholder_id div.posttop {
                                              background:#EEEEEE;
                                              font:12px;
}
#rh_default_topic_placeholder_id div.username {
                                               width:auto;
                                               float:left;
}
#rh_default_topic_placeholder_id div.date {
                                           width:auto;
                                           text-align:right;
}
#rh_default_topic_placeholder_id div.posttext {
                                               padding:4px;
                                               background:#F9F9F9;
                                               font-family:"Times New Roman" , Times, serif;
                                               font-size:20px;
}
#rh_default_topic_placeholder_id div.highlight {
                                                padding:4px;
                                                background:#FFFFCC;
}
#rh_default_topic_placeholder_id span.small {
                                             font-size:10px;
}
#rh_default_topic_placeholder_id #content {
                                           margin-bottom:8px;
                                           border:1px solid #c0c0c0;
                                           padding:1px;
}
#rh_default_topic_placeholder_id #navbar {
                                          background:#F9F9F9;
                                          border:1px solid #c0c0c0;
                                          padding:4px;
}
#rh_default_topic_placeholder_id #pagenumbers {
                                               text-align:center;
                                               background:#F9F9F9;
                                               border-left:1px solid #c0c0c0;
                                               border-right:1px solid #c0c0c0;
                                               border-bottom:1px solid #c0c0c0;
                                               border-top:1px solid #c0c0c0;
}
#rh_default_topic_placeholder_id #copyright {
                                             text-align:center;
                                             font:12px verdana arial sans-serif;
}
#rh_default_topic_placeholder_id hr {
                                     border-top:1px solid #c0c0c0;
}
#rh_default_topic_placeholder_id P.Preformatted {
                                                 line-height:normal;
                                                 margin-bottom:14pt;
                                                 margin-top:14pt;
                                                 x-text-tab-stops:repeat 1in;
                                                 white-space:nowrap;
                                                 font-family:monospace;
                                                 direction:rtl;
                                                 font:inherit;
                                                 font-size:100%;
                                                 border:0;
                                                 padding:0;
                                                 margin:0;
}
#rh_default_topic_placeholder_id P.Address {
                                            margin-top:0;
                                            margin-bottom:0;
                                            font-style:italic;
                                            direction:rtl;
                                            font:inherit;
                                            font-size:100%;
                                            border:0;
                                            padding:0;
                                            margin:0;
}
#rh_default_topic_placeholder_id SPAN.Big {
                                           font-weight:bolder;
                                           direction:rtl;
                                           font:inherit;
                                           font-size:100%;
                                           border:0;
                                           padding:0;
                                           margin:0;
}
#rh_default_topic_placeholder_id SPAN.Citation {
                                                font-style:italic;
                                                direction:rtl;
                                                font:inherit;
                                                font-size:100%;
                                                border:0;
                                                padding:0;
                                                margin:0;
}
#rh_default_topic_placeholder_id SPAN.Code {
                                            font-family:monospace;
                                            direction:rtl;
                                            font:inherit;
                                            font-size:100%;
                                            border:0;
                                            padding:0;
                                            margin:0;
}
#rh_default_topic_placeholder_id SPAN.Definition {
                                                  direction:rtl;
                                                  font:inherit;
                                                  font-size:100%;
                                                  border:0;
                                                  padding:0;
                                                  margin:0;
}
#rh_default_topic_placeholder_id SPAN.Emphasize {
                                                 font-style:italic;
                                                 direction:rtl;
                                                 font:inherit;
                                                 font-size:100%;
                                                 border:0;
                                                 padding:0;
                                                 margin:0;
}
#rh_default_topic_placeholder_id SPAN.Keyboard {
                                                font-weight:bold;
                                                font-family:monospace;
                                                direction:rtl;
                                                font:inherit;
                                                font-size:100%;
                                                border:0;
                                                padding:0;
                                                margin:0;
}
#rh_default_topic_placeholder_id SPAN.StrikeThrough {
                                                     direction:rtl;
                                                     font:inherit;
                                                     font-size:100%;
                                                     border:0;
                                                     padding:0;
                                                     margin:0;
                                                     text-decoration:line-through;
}
#rh_default_topic_placeholder_id SPAN.Sample {
                                              font-family:monospace;
                                              direction:rtl;
                                              font:inherit;
                                              font-size:100%;
                                              border:0;
                                              padding:0;
                                              margin:0;
}
#rh_default_topic_placeholder_id SPAN.Strong {
                                              font-weight:bold;
                                              direction:rtl;
                                              font:inherit;
                                              font-size:100%;
                                              border:0;
                                              padding:0;
                                              margin:0;
}
#rh_default_topic_placeholder_id SPAN.SubScript {
                                                 vertical-align:sub;
                                                 direction:rtl;
                                                 font:inherit;
                                                 font-size:100%;
                                                 border:0;
                                                 padding:0;
                                                 margin:0;
}
#rh_default_topic_placeholder_id SPAN.Superscript {
                                                   vertical-align:super;
                                                   direction:rtl;
                                                   font:inherit;
                                                   font-size:100%;
                                                   border:0;
                                                   padding:0;
                                                   margin:0;
}
#rh_default_topic_placeholder_id SPAN.TeleType {
                                                font-family:monospace;
                                                direction:rtl;
                                                font:inherit;
                                                font-size:100%;
                                                border:0;
                                                padding:0;
                                                margin:0;
}
#rh_default_topic_placeholder_id SPAN.Var {
                                           font-style:italic;
                                           direction:rtl;
                                           font:inherit;
                                           font-size:100%;
                                           border:0;
                                           padding:0;
                                           margin:0;
}
#rh_default_topic_placeholder_id SPAN.Underline {
                                                 direction:rtl;
                                                 font:inherit;
                                                 font-size:100%;
                                                 border:0;
                                                 padding:0;
                                                 margin:0;
                                                 text-decoration:underline;
}
#rh_default_topic_placeholder_id SPAN.Italic {
                                              font-style:italic;
                                              direction:rtl;
                                              font:inherit;
                                              font-size:100%;
                                              border:0;
                                              padding:0;
                                              margin:0;
}
