#rh_default_topic_placeholder_id .page-break {
                                              page-break-before:always;
}
#rh_default_topic_placeholder_id .quot {
                                        border-left:1px solid silver;
                                        border-right:2px solid silver;
                                        border-bottom:2px solid silver;
                                        border-top:1px solid silver;
}
#rh_default_topic_placeholder_id .thread_title {
                                                background:white;
                                                border:0;
}
#rh_default_topic_placeholder_id .up {
                                      display:none;
}
#rh_default_topic_placeholder_id .pda {
                                       display:none;
}
#rh_default_topic_placeholder_id .link_org {
                                            display:none;
}
#rh_default_topic_placeholder_id #pagenumbers {
                                               display:none;
}
#rh_default_topic_placeholder_id #navbar {
                                          display:none;
}
#rh_default_topic_placeholder_id div.pagebody {
                                               background:white;
                                               border:0;
}
#rh_default_topic_placeholder_id div.posttop {
                                              display:none;
}
#rh_default_topic_placeholder_id div.post {
                                           background:white;
                                           border:0;
}
